html, body {
	height: 100%;
	margin: 0;
}

main {
	height: min-content;
	flex-grow: 1;
	margin: 7vh 5vw 3vh 7vh;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #f9fcff;
	font-family: 'Roboto', sans-serif;
}

.n{
	font-family: 'Stylish', sans-serif; 
	font-size: 20px;
	font-weight: bolder;
}

/* Footer */

/*.footer {
	position: static;
	bottom: 0;
	width: 100%;
	min-height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.15em;
	background-color: #e38d30;
}*/

.foot{
	background-color: #e38d30;
}

/* Buttons in Footer */

.fbutton {
	/*float: left;*/
	background-color: #e38d30;
	/*color: white;*/
	/*border: none;
	padding: 1.5vh;
	cursor: pointer;*/
}

.fbutton a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}


.fbutton:hover {
	background-color: #e7c73f;
	border-radius: 5px;
	color: black;
	font-weight: bold;
}

/* Arrow up */

.fa-arrow-alt-circle-up {
	font-size: 1.5em;
	position: fixed;
	bottom: 0;
	right: 1%;
	padding: 1vh;
	color: black;
	background-color: #e38d30;
	border-radius: 5px;
}

.fa-arrow-alt-circle-up:hover {
	border-radius: 5px;
	background-color: #e7c73f;
	color: white;
	cursor: pointer;
}


