# APIs
api/application/database/*
!api/application/database/.keep
api/application/passwords.py
api/api.log
api/Endpoints.md

# IDEs
*.sublime-*
*.code-*
.vscode
*.DS_Store

# Python & venvs
*__pycache__
*.pyc
env
*.envrc
*.direnv
*.coverage

# Folders
graficis
