# Python
env
**pycache**
**.pyc

# API's data
api/application/database
api/secrets.py
api/view_logs.py
api/api.log
api/database

# IDEs
.vscode
*.sublime-*

# Nelli's Macbook
**.DS_Store

# Direnv
**.envrc
**.direnv
