{% extends 'layout.html' %} {% block classpost %}
<div class="posts">
  {% endblock %} {% block modulo %}

  <!--***********************************FINE CATEGORIA POPUP********************************-->
  <style>
    td {
      border: none;
    }
    td:hover {
      border: none;
    }
  </style>
  <form method="post" id="formid">
    <div class="form-group addArticlePage">
      <input
        type="text"
        class="form-control"
        id="titolo"
        name="titolo"
        placeholder="Inserire il titolo del post"
        value=""
      />

      <div id="toolbar"></div>
      <div id="editor"></div>
      <textarea
        name="text"
        style="display:none"
        placeholder="Inserire il testo del post"
        id="testo"
      ></textarea>

      <script>
        var toolbarOptions = [
          ["bold", "italic", "underline", "strike"],
          ["blockquote", "code-block"],
          [{ header: 1 }, { header: 2 }],
          [{ list: "ordered" }, { list: "bullet" }],
          [{ script: "sub" }, { script: "super" }],
          [{ indent: "-1" }, { indent: "+1" }],
          [{ direction: "rtl" }],
          [{ size: ["small", false, "large", "huge"] }],
          [{ header: [1, 2, 3, 4, 5, 6, false] }],
          [{ color: [] }, { background: [] }],
          [{ font: [] }],
          [{ align: [] }],
          ["clean"],
          ["link", "image", "video"]
        ];

        var quill = new Quill("#editor", {
          modules: {
            toolbar: toolbarOptions
          },
          placeholder: "Scrivi qui il tuo articolo",
          theme: "snow"
        });

        $("#formid").on("submit", function() {
          $("#testo").val($("#editor").html());
        });
        {% if alert is defined %}
          quill.setContents(localStorage["testo"]);
          if (localStorage["titolo"] != "undefined") {
            document.getElementById("titolo").value = localStorage["titolo"];
          }
          if (localStorage["testo"] != null) {
            quill.setContents(JSON.parse(localStorage["testo"]), "api");
          }
        {% else %}
          localStorage['testo'] = '';
          localStorage['titolo'] = '';
        {% endif %}
        quill.on("text-change", function(delta, oldDelta, source) {
          var delta = JSON.stringify(quill.getContents());
          localStorage["testo"] = delta;
        });
        $("#titolo").on("input", function() {
          console.log("TESTO: " + document.getElementById("titolo").value);
          localStorage["titolo"] = document.getElementById("titolo").value;
        });
      </script>
      <input type="hidden" id="categoria" name="thread" value="" />
      <div class="dropdown-cat-insert">
        <p class="selected-cat-list"><span>Seleziona sub inerente</span></p>
        <ul name="categoria" id="listacat" class="dropdown-cat-insert-list">
          {% for sub in subs %}
          <li class="item-cat-insert-list" data-interest="{{ sub.nome }}">
            {{ sub.nome }}
          </li>
          {% endfor %}
        </ul>
      </div>
      <script>
        var selected = $(".selected-cat-list");
        var dropdown = $(".dropdown-cat-insert-list");
        var optionList = $(".dropdown-cat-insert-list li");

        selected.click(function() {
          dropdown.toggleClass("active");
          if (dropdown.hasClass("active")) {
            optionList.click(function() {
              if (optionList.hasClass("active")) {
                $(this)
                  .siblings()
                  .removeClass("active");
              } else {
                $(this).addClass("active");
                var catlistint = $("ul#listacat")
                  .find("li.active")
                  .data("interest");
                document.getElementById("categoria").value = catlistint;
              }
              dropdown.removeClass("active");
              selected.children("span").html($(this).html());
            });
          }
        });
      </script>
      <input
        class="btn btn-primary"
        style="width: 6vw; height: 3vh; font-size:16px;"
        type="submit"
        value="Invia"
      />
    </div>
  </form>
  <style>
    .ql-editor {
      min-height: 100px;
    }
  </style>

  {% endblock %}
</div>
