{% extends 'layout.html' %} {% block classpost %}
<div class="posts">
  {% endblock %} {% block modulo %}
  <title>
    Settings | {{ channel.nome }}
  </title>
  <div class="channel-tools-page">
    <h2>Impostazioni canale {{ channel.nome }}</h2>
    <h3>
      di <a href="/utente/{{ channel.autore.id }}">{{ channel.autore.nome }}</a>
    </h3>

    <style>
      #main-nav-down {
        height: 80px;
      }
      .grid-container {
        margin-top: 70px;
      }
      .posts {
        margin-left: 20px;
        margin-right: 20px;
      }
    </style>

    <!--************************************************FILIGRANA CANALE*****************************************************-->

    <div class="setting"></div>
    <div class="setting image_picker image_picker1">
        <h2>Filigrana</h2>
        <div class="settings_wrap">
        <form id="profile-pic-uploader-form1" action="/uploader/filigrana_canale" method="post" enctype = "multipart/form-data">
        <input type="text" name="user_id" style="width: 0; height: 0; display: none;" value="{{channel.id}}" />
        <input class="reminp1" type="text" name="rem" style="width: 0; height: 0; display: none;" value="Save" />
        <label class="drop_target drop_target1">
          {% if channel.stile.filigrana != "Null" %}
          <div class="image_preview image_preview1" style="background-image: url('{{channel.stile.filigrana}}');"></div>
          {% else %}
          <div class="image_preview image_preview1"></div>
          {% endif %}
          <input id="inputFile1" class="file-upload" type="file" name="file" accept="image/*"/>
        </label>
            <div class="settings_actions vertical">
          <a data-action="choose_from_uploaded" onclick="$('.reminp1').attr('value', 'Save'); document.getElementById('profile-pic-uploader-form1').submit();">
            <i class="fad fa-image"></i>
            Invia
          </a>
          {% if channel.stile.filigrana != "Null" %}
          <a class="enabled" data-action="remove_current_image1">
          {% else %}
          <a class="disabled" data-action="remove_current_image1">
          {% endif %}
            <i class="fa fa-ban"></i>
            Remove Current Image
          </a>
        </div>
      </form>
      </div>
    </div>
    <div class="setting"></div>
    <script>
      var $dropzone1 = $('.image_picker1'),
          $droptarget1 = $('.drop_target1'),
          $dropinput1 = $('#inputFile1'),
          $dropimg1 = $('.image_preview1'),
          $remover1 = $('[data-action="remove_current_image1"]');
  
      $dropzone1.on('dragover', function() {
        $droptarget.addClass('dropping');
        return false;
      });
  
      $dropzone1.on('dragend dragleave', function() {
        $droptarget.removeClass('dropping');
        return false;
      });
  
      $dropzone1.on('drop', function(e) {
        $droptarget1.removeClass('dropping');
        $droptarget1.addClass('dropped');
        $remover1.removeClass('disabled');
        e.preventDefault();
        var file1 = e.originalEvent.dataTransfer.files[0],
        reader1 = new FileReader();
  
        reader1.onload = function(event) {
          $dropimg1.css('background-image', 'url(' + event.target.result + ')');
        };
        console.log(file);
        reader1.readAsDataURL(file);
        return false;
      });
  
      $dropinput1.change(function(e) {
        $droptarget1.addClass('dropped');
        $remover1.removeClass('disabled');
        $('.image_title input').val('');
        var file1 = $dropinput1.get(0).files[0],
              reader1 = new FileReader();
          reader1.onload = function(event) {
          $dropimg1.css('background-image', 'url(' + event.target.result + ')');
        }
        reader1.readAsDataURL(file1);
      });
  
      $remover1.on('click', function() {
        $('.reminp1').attr('value', 'Remove');
        $dropimg1.css('background-image', '');
        $droptarget1.removeClass('dropped');
        $remover1.addClass('disabled');
        $('.image_title input').val('');
        document.getElementById('profile-pic-uploader-form1').submit();
      });
  
      $('.image_title input').blur(function() {
        if ($(this).val() != '') {
          $droptarget1.removeClass('dropped');
        }
      });
    </script>

    <!--************************************************FINE FILIGRANA CANALE*****************************************************-->

    <!--*********************************************INIZIO SFONDO PERSONALIZZATO*************************************************-->

    <div class="setting"></div>
    <div class="setting image_picker image_picker2">
        <h2>Sfondo</h2>
        <div class="settings_wrap">
        <form id="profile-pic-uploader-form2" action="/uploader/sfondo_canale" method="post" enctype = "multipart/form-data">
        <input type="text" name="user_id" style="width: 0; height: 0; display: none;" value="{{channel.id}}" />
        <input class="reminp2" type="text" name="rem" style="width: 0; height: 0; display: none;" value="Save" />
        <label class="drop_target drop_target2">
          {% if channel.stile.filigrana != "Null" %}
          <div class="image_preview image_preview2" style="background-image: url('{{channel.stile.sfondo}}');"></div>
          {% else %}
          <div class="image_preview image_preview2"></div>
          {% endif %}
          <input id="inputFile2" class="file-upload" type="file" name="file" accept="image/*"/>
        </label>
            <div class="settings_actions vertical">
          <a data-action="choose_from_uploaded" onclick="$('.reminp2').attr('value', 'Save'); document.getElementById('profile-pic-uploader-form2').submit();">
            <i class="fad fa-image"></i>
            Invia
          </a>
          {% if channel.stile.filigrana != "Null" %}
          <a class="enabled" data-action="remove_current_image2">
          {% else %}
          <a class="disabled" data-action="remove_current_image2">
          {% endif %}
            <i class="fa fa-ban"></i>
            Remove Current Image
          </a>
        </div>
      </form>
      </div>
    </div>
    <div class="setting"></div>
    <script>
      var $dropzone = $('.image_picker2'),
          $droptarget = $('.drop_target2'),
          $dropinput = $('#inputFile2'),
          $dropimg = $('.image_preview2'),
          $remover = $('[data-action="remove_current_image2"]');
  
      $dropzone.on('dragover', function() {
        $droptarget.addClass('dropping');
        return false;
      });
  
      $dropzone.on('dragend dragleave', function() {
        $droptarget.removeClass('dropping');
        return false;
      });
  
      $dropzone.on('drop', function(e) {
        $droptarget.removeClass('dropping');
        $droptarget.addClass('dropped');
        $remover.removeClass('disabled');
        e.preventDefault();
        var file = e.originalEvent.dataTransfer.files[0],
        reader = new FileReader();
  
        reader.onload = function(event) {
          $dropimg.css('background-image', 'url(' + event.target.result + ')');
        };
        console.log(file);
        reader.readAsDataURL(file);
        return false;
      });
  
      $dropinput.change(function(e) {
        $droptarget.addClass('dropped');
        $remover.removeClass('disabled');
        $('.image_title input').val('');
        var file = $dropinput.get(0).files[0],
              reader = new FileReader();
          reader.onload = function(event) {
          $dropimg.css('background-image', 'url(' + event.target.result + ')');
        }
        reader.readAsDataURL(file);
      });
  
      $remover.on('click', function() {
        $('.reminp2').attr('value', 'Remove');
        $dropimg.css('background-image', '');
        $droptarget.removeClass('dropped');
        $remover.addClass('disabled');
        $('.image_title input').val('');
        document.getElementById('profile-pic-uploader-form2').submit();
      });
  
      $('.image_title input').blur(function() {
        if ($(this).val() != '') {
          $droptarget.removeClass('dropped');
        }
      });
    </script>

    <!--**********************************************FINE SFONDO PERSONALIZZATO**************************************************-->

    <!--*************************************************INIZIO COLORE TEMA*******************************************************-->

    <br />
    <hr />
    <br />
    <div ng-app="app">
      <div class="wrapper" style="height: 600px;" ng-controller="startCtrl">
        <cpick ng-model="color" ng-change="test()"></cpick>
      </div>
    </div>
    <form action="/uploader/colore_tema_canale" method="post">
      <input
        type="text"
        name="user_id"
        style="width: 0; height: 0; display: none;"
        value="{{ channel.id }}"
      />
      <input
        type="text"
        id="colore-scelto"
        name="colore"
        style="width: 0; height: 0; display: none;"
        value="{{ channel.stile.colore_tema }}"
      />
      <button class="button button1">UPLOADA</button>
    </form>
    <script>
      // togliere class: 'hidemodule' da class: 'cpick-module' e mettere style: 'display: none;' a class: 'cpick-preview'
      $(window).bind("load", function() {
        $(".cpick-module").removeClass("hidemodule");
      });
    </script>
    <br />
    <hr />
    <br />

    <!--**************************************************FINE COLORE TEMA********************************************************-->

    <!--********************************************INIZIO WIDGET PERSONALIZZATI**************************************************-->

    <div class="form-group col-sm-6">
      <span class="textarea-label">Textarea</span>
      <textarea
        rows="1"
        id="textarea1"
        class="form-control js-elasticArea"
        value="{{ channel.stile.widget.ceml | safe }}"
      ></textarea>
    </div>
    <button
      class="button button1"
      onclick="postwidgetpers();"
      style="margin-bottom: 30px;"
    >
      UPLOADA
    </button>
    <br /><br /><br />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      (function() {
        function elasticArea() {
          $(".js-elasticArea").each(function(index, element) {
            var elasticElement = element,
              $elasticElement = $(element),
              initialHeight = initialHeight || $elasticElement.height(),
              delta =
                parseInt($elasticElement.css("paddingBottom")) +
                  parseInt($elasticElement.css("paddingTop")) || 0,
              resize = function() {
                $elasticElement.height(initialHeight);
                $elasticElement.height(elasticElement.scrollHeight - delta);
              };
            $elasticElement.on("input change keyup", resize);
            resize();
          });
        }
        //Init function in the view
        elasticArea();
      })();

      function postwidgetpers() {
        post("/uploader/widget_canale", {
          name: "{{channel.id}}///" + document.getElementById("textarea1").value
        });
      }
    </script>
  </div>
  <!--*********************************************FINE WIDGET PERSONALIZZATI***************************************************-->

  {% endblock %}
</div>
