{% extends 'layout.html' %} {% block addnav %} {% if channel.autore.id ==
session['user_id']%}
<li class="main-navlinks" id="Tools" style="float: right;">
  <a href="/channel/{{ channel.id }}/Tools">Impostazioni</a>
</li>
{% endif %} {% endblock %} {% block afternav %}

<div class="channel-header">
  <img
    class="chn-head-pic"
    id="chn-head-pic"
    style="max-height: 220px;"
    src="{{ session['header-canale'] }}"
  />
</div>

<!--*****************************TAB BAR PER I VARI METODI DI VISUALIZZAZIONI(ORDINA PER LIKE, ECC DA INSERIRE)**********************************-->

{% endblock %} {% block classpost %}
<div class="posts-home">
  {% endblock %}

  <!--*************************************************PERSONAL WIDGETS************************************************* -->

  {% block personalwidgets %}

  <div class="widgets" id="widgets">
    <div class="wrapper">
      <div class="chn-overview-widget">
        <div
          style="height: 36px; width: 290px; background-color: {{
            channel.stile.colore_tema
          }}; color: white; font-weight: bold !important; text-align: left !important;"
        >
          <p>DETAILS</p>
        </div>
        <p>Home</p>
        <!-- HO MODIFICATO QUI PER DISTINGUERE LA SESSIONE -->
        <p>Benvenuto in {{ channel.nome }}.</p>
        {% if channel in globalRute['canali'] %}
        <span onclick="followChan()"
          ><button
            class="button button1"
            id="suborunsub"
            style="width: 98% !important;"
          >
            Unsubscribe
          </button></span
        >
        {% else %}
        <span onclick="followChan()"
          ><button
            class="button button1"
            id="suborunsub"
            style="width: 98% !important;"
          >
            Subscribe
          </button></span
        >
        {% endif %}
      </div>

      <!--***********************WIDGET PERSONALI**************************-->
      {% if channel.stile.widget.html != 'Null' %}
      <div>{{ channel.stile.widget.html | safe }}</div>
      {% endif %}
      <!--*********************FINE WIDGET PERSONALI***********************-->

      <div class="copyright">
        <table class="copyright-table">
          <tr>
            <td>About</td>
            {% if 'nome' in session %}
            <td><a href="/logout">Logout</a></td>
            {% else %}
            <td>
              <a onclick="document.getElementById('LoginBtn').click();"
                >Login</a
              >
            </td>
            {% endif %}
            <td>Blog</td>
          </tr>
          <tr>
            <td>Chi Siamo</td>
            <td><a href="/help">Help</a></td>
            <td>Home</td>
          </tr>
        </table>

        <h4>Content Policy| Privacy Policy</h4>
        <h4>User Agreement| Mod Policy</h4>
        <h4>© 2018 CriticalException, Inc. All rights reserved</h4>
      </div>
    </div>
  </div>

  {% endblock %}

  <!--*************************************************FINE PERSONAL WIDGETS********************************************* -->

  {% block modulo %}
  <title>Geekia | {{ channel.nome }}</title>

  <table class="posts-table-home">
    {% for article in articles|reverse %}
    <tr>
      <td>
        <div class="border-bug-fixer">
          <div class="grid-chn-single-post-container">
            <div class="like-td">
              <form>
                <i
                  id="arrow-up-{{ article.id }}"
                  value="like"
                  onclick="like{{ article.id }}()"
                  class="fad fa-arrow-alt-square-up fa-2x"
                ></i>
              </form>
              <p
                id="likes-{{ article.id }}"
                style="margin-top: 0; margin-bottom: 0;"
              >
                {{ article.likes }}
              </p>
              <form>
                <i
                  id="arrow-down-{{ article.id }}"
                  value="dislike"
                  onclick="dislike{{ article.id }}()"
                  class="fad fa-arrow-alt-square-down fa-2x"
                ></i>
              </form>
            </div>
            <script>
              //var kkk = false;
              //var kkkk = false;
              function like{{ article.id }}() {
                $.ajax({
                  data: {
                    id_articolo: '{{ article.id }}',
                    type: '+',
                    user_id: '{{ session["user_id"] }}'
                  },
                  type: 'POST',
                  url: '/articoli'
                })
                .done(function(data){ if (data.output == 'good') document.getElementById('likes-{{ article.id }}').innerHTML = data.newVal; });
                event.preventDefault();
              	document.getElementById("arrow-up-{{article.id}}").classList.toggle("arrow-up-clicked")
                if (document.getElementById("arrow-up-{{article.id}}").classList.contains("arrow-up-clicked") && document.getElementById("arrow-down-{{article.id}}").classList.contains("arrow-down-clicked"))
                  document.getElementById("arrow-down-{{article.id}}").classList.remove("arrow-down-clicked")
              }
              function dislike{{ article.id }}() {
                $.ajax({
                  data: {
                    id_articolo: '{{ article.id }}',
                    type: '-',
                    user_id: '{{ session["user_id"] }}'
                  },
                  type: 'POST',
                  url: '/articoli'
                })
                .done(function(data){ if (data.output == 'good') document.getElementById('likes-{{ article.id }}').innerHTML = data.newVal; });
                event.preventDefault();
              	document.getElementById("arrow-down-{{article.id}}").classList.toggle("arrow-down-clicked")
                if (document.getElementById("arrow-down-{{article.id}}").classList.contains("arrow-down-clicked") && document.getElementById("arrow-up-{{article.id}}").classList.contains("arrow-up-clicked"))
                  document.getElementById("arrow-up-{{article.id}}").classList.remove("arrow-up-clicked")
              }
              function followChan() {
                $.ajax({
                  data: {
                    name: '{{ channel.id }}'
                  },
                  type: 'POST',
                  url: '/followCanali'
                })
                .done(function(data){
                  document.getElementById('suborunsub').innerHTML = data.btn_val;
                  if (data.btn_val == 'Subscribe') { $('#id_navdown_{{ channel.id }}').attr('style', 'display: none;'); }
                  else { $('#id_navdown_{{ channel.id }}').attr('style', 'display: inline-block;'); }
                  });
                event.preventDefault();
              }
            </script>
            <div
              onclick="window.location='/articoli/{{ article.id }}'"
              class="post-table-central-text"
            >
              <h2>{{ article.titolo }}</h2>
              <h4>
                Caricato da {{ article.autore.nome }} il {{ article.data }}
              </h4>
            </div>
            {% if channel.stile.filigrana != "Null" %}
            <div id="td-filigrana" style="min-width: 200px;">
              <img
                style="object-fit: fill; max-width: 100%; max-height: 100%;"
                class="chn-filigrana-pic"
                id="chn-filigrana-pic"
                src="{{ channel.stile.filigrana }}"
              />
            </div>
            {% else %}
            <div id="td-filigrana" style="display: none;"></div>
            {% endif %}
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>

  <!--*******************************************SFONDO PERSONALIZZATO************************************-->

  {% if channel.stile.sfondo_canale != "Null" %}
  <style>
    .grid-container {
      background-image: url("{{channel.stile.sfondo}}");
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>
  {% else %}
  <style>
    .grid-container {
      background-color: #eee;
    }
  </style>
  {% endif %} {% endblock %}
</div>
