<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Nome Autore</th>
    <th>Descrizione</th>
    <th>Autorizzato</th>
    <th></th>
    <th></th>
  </tr>
  {% for channel in channels %}
  <tr>
    <td>{{ channel.nome }}</td>
    <td>{{ channel.autore.nome }}</td>
    <td>{{ channel.descrizione }}</td>
    <td>{{ channel.autorizzato }}</td>
    <td>
      <a
        href="/gestioneintergalatticadelsito42/gestionecanali/yes/{{
          channel.id
        }}"
        >Autorizza</a
      >
    </td>
    <td>
      <a
        href="/gestioneintergalatticadelsito42/gestionecanali/no/{{
          channel.id
        }}"
        >Cancella</a
      >
    </td>
  </tr>
  {% endfor %}
</table>
