<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="/style/style.css"/> -->
    {% if session['darkMode'] == True %}
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ url_for('static', filename='style/style-dark.css') }}"
    />
    {% else %}
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ url_for('static', filename='style/style.css') }}"
    />
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.6.6/summernote.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.6.6/summernote.min.css"
    />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
    <script src="{{ url_for('static', filename='scripts/text-editor.js') }}"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu:400,700"
      rel="stylesheet"
    />
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">-->

    <script src="{{ url_for('static', filename='scripts/fontawesome.pro.js') }}"></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />

    <!--**************************************** QUILL ***************************************-->

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.quilljs.com/1.3.6/quill.bubble.css"
      rel="stylesheet"
    />

    <!--**************************************** FINE QUILL ***************************************-->

    <!--**************************************** COLOR PICKER *************************************-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>-->
    <script src="{{ url_for('static', filename='scripts/color-picker.js') }}"></script>

    <!--**************************************** FINE COLOR PICKER *************************************-->

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-16" />
  </head>
  <body>
    <div class="allsite">
      <!--**************************************NAVBAR***************************************-->

      <nav id="main-nav-upper">
        <a href="#" id="menu-icon">
          <i class="fas fa-2x fa-bars"></i>
        </a>
        <ul>
          <li class="main-navlinks"><a href="/" class="current">Home</a></li>
          <li class="main-navlinks header-search-bar">
            <form action="/search" autocomplete="off" method="post">
              {% if query is defined %}
              <input
                id="search-box-input"
                type="search"
                name="query"
                placeholder="Cerca"
                value="{{ query }}"
              />
              {% else %}
              <input
                id="search-box-input"
                type="search"
                name="query"
                placeholder="Cerca"
              />
              {% endif %}
              <span id="search-box-span"><i class="fad fa-search"></i></span>
            </form>
          </li>
          {% if 'nome' in session %}
          <li class="main-navlinks-right"><a href="/logout">Logout</a></li>
          <li class="main-navlinks-right main-nav-right-dropdown">
            <div class="main-nav-right-dropbtn">
              <a href="/utente/{{ session['user_id'] }}">{{
                session["nome"]
              }}</a>
            </div>
            <div class="main-nav-right-dropdown-content">
              <a href="/utente/{{ session['user_id'] }}">Impostazioni</a>
              {% if session['darkMode'] == True %}
              <a
                onclick="post(`/utente`, {name: `{{
                  session['user_id']
                }}///False///` + window.location.pathname});"
                >LightMode</a
              >
              {% else %}
              <a
                onclick="post(`/utente`, {name: `{{
                  session['user_id']
                }}///True///` + window.location.pathname});"
                >DarkMode</a
              >
              {% endif %}
            </div>
          </li>
          {% else %}
          <li class="main-navlinks-right main-nav-right-dropdown">
            <div class="main-nav-right-dropbtn">
              <a href="#"><i class="fad fa-cog fa-lg"></i></a>
            </div>
            <div class="main-nav-right-dropdown-content">
              {% if session['darkMode'] == True %}
              <a href="#">LightMode</a>
              {% else %}
              <a href="#">DarkMode</a>
              {% endif %}
            </div>
          </li>

          <li class="main-navlinks-right" id="RegisterBtn">
            <a>Registrati</a>
          </li>
          <li class="main-navlinks-right" id="LoginBtn"><a>Login</a></li>
          {% endif %}
          <li
            class="main-navlinks-right main-nav-right-dropdown"
            id="notificationBell"
          >
            <div class="main-nav-right-dropbtn">
              <a href="#"><i class="fad fa-bell fa-lg"></i></a>
            </div>
            <div class="main-nav-right-dropdown-content">
              <a href="#">Minecraft</a>
              <a href="#">CS:GO</a>
              <a href="#">Titanfall 2</a>
            </div>
          </li>
          {% block addnav %}{% endblock %}
        </ul>
      </nav>
      <nav id="main-nav-down">
        <hr />
        <ul>
          <li class="main-navlinks main-nav-down-dropdown">
            <div class="main-nav-down-dropbtn">
              <a href="#"><i class="fad fa-gamepad"></i> GIOCHI</a>
            </div>
            <div class="main-nav-down-dropdown-content">
              <a href="#">Minecraft</a>
              <a href="#">CS:GO</a>
              <a href="#">Titanfall 2</a>
            </div>
          </li>
          <div class="headerDivider"></div>
          {% if globalRute['canali'] is defined %} {% for chan in
          globalRute['ALLcanali'] %} {% if chan in globalRute['canali'] %}
          <li class="main-navlinks">
            <a href="/channel/{{ chan.nome }}">
              <i
                class="fad fa-star"
                id="id_navdown_{{ chan.id }}"
                style="padding-bottom: 1px; display: inline-block;"
              ></i>
              {{ chan.nome }}
            </a>
          </li>
          {% else %}
          <li class="main-navlinks">
            <a href="/channel/{{ chan.nome }}">
              <i
                class="fad fa-star"
                id="id_navdown_{{ chan.id }}"
                style="padding-bottom: 1px; display: none;"
              ></i>
              {{ chan.nome }}</a
            >
          </li>
          {% endif %} {% endfor %} {% else %} {% for chan in
          globalRute['ALLcanali'] %}
          <li class="main-navlinks">
            <a href="/channel/{{ chan.nome }}">{{ chan.nome }}</a>
          </li>
          {% endfor %} {% endif %}
        </ul>
      </nav>

      {% if alert is defined %}
      <div class="alert-box" style="background-color: {{ alert.color }};">
        <h3>{{ alert.error }}</h3>
        <span
          class="close-alert-box-btn"
          onclick="this.parentElement.style.display='none';"
          ><i class="fad fa-times"></i
        ></span>
      </div>
      {% endif %}

      <!--***********************************TESTO**************************************** -->

      {% block afternav %}{% endblock %}
      <div class="grid-container">
        {% block classpost %}{% endblock %}
        <!-- <div class="posts-home"> -->

        {% block modulo %}{% endblock %}
        <!-- QUI SI INSERISCONO LE PAGINE -->

        <!--***********************************LOGIN POPUP********************************-->

        <div id="login-popup" class="login-popup">
          <div class="login-popup-grid popup-content">
            <div class="grid-item img">
              {% if session['darkMode'] == True %}
              <img
                src="{{ url_for('static', filename='img/login-popup-image2.png') }}"
                alt="login-popup-image"
                height="464"
                width="156"
              />
              {% else %}
              <img
                src="{{ url_for('static', filename='img/login-popup-image1.png') }}"
                alt="login-popup-image-light"
                height="464"
                width="156"
              />
              {% endif %}
            </div>
            <div class="grid-item cont">
              <span class="close" style="margin-right: 10px; margin-top: 5px;"
                >×</span
              >
              <div class="cont-in">
                <div class="group">
                  <input
                    type="text"
                    class="input-login-popup"
                    id="txtNameLog"
                    name="txtNameLog"
                    value=""
                    onclick="controller()"
                    required
                  />
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label class="label-login-popup">Name</label>
                </div>
                <div class="group">
                  <input
                    type="password"
                    class="input-login-popup"
                    id="txtPswLog"
                    name="txtPswLog"
                    value=""
                    onclick="controller()"
                    required
                  />
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label class="label-login-popup">Password</label>
                </div>
                <div id="error" style="color: red; display:none;">
                  <h3>La password e/o il nome utente inserito sono errati.</h3>
                </div>
                <input
                  type="submit"
                  class="submit-btn-login button button1"
                  onclick="LoginSubmit()"
                  value="LOGIN"
                />
              </div>
            </div>
          </div>
        </div>
        <script>
          function controller() {
            // Execute a function when the user releases a key on the keyboard
            $(this).keydown(function(event) {
              if (event.which === 13) {
                console.log("keydown pressed");
                LoginSubmit();
              }
            });
          }
        </script>
        {% if from_login == 'True' %}
        <script>
          $("#LoginBtn").click();
        </script>
        {% endif %}
        <!--***********************************FINE LOGIN POPUP********************************-->
        <!--************************************REGISTER POPUP*********************************-->

        <div id="register-popup" class="login-popup">
          <div class="login-popup-grid popup-content">
            <div class="grid-item img">
              {% if session['darkMode'] == True %}
              <img
                src="{{ url_for('static', filename='img/login-popup-image2.png') }}"
                alt="register-popup-image"
                height="464"
                width="156"
              />
              {% else %}
              <img
                src="{{ url_for('static', filename='img/login-popup-image1.png') }}"
                alt="register-popup-image-light"
                height="464"
                width="156"
              />
              {% endif %}
            </div>
            <div class="grid-item cont">
              <span class="close" style="margin-right: 10px; margin-top: 5px;"
                >×</span
              >
              <div class="cont-in">
                <div class="group">
                  <input
                    type="text"
                    class="input-login-popup"
                    id="txtNameReg"
                    name="txtNameReg"
                    value=""
                    required
                  />
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label class="label-login-popup">Name</label>
                </div>

                <div class="group">
                  <input
                    type="text"
                    class="input-login-popup"
                    id="txtEmailReg"
                    name="txtEmailReg"
                    value=""
                    required
                  />
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label class="label-login-popup">Email</label>
                </div>
                <div class="group">
                  <input
                    type="password"
                    class="input-login-popup"
                    id="txtPswReg"
                    name="txtPswReg"
                    value=""
                    required
                  />
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label class="label-login-popup">Password</label>
                </div>
                <div class="group">
                  <input
                    type="password"
                    class="input-login-popup"
                    id="txtPswControlReg"
                    name="txtPswControlReg"
                    value=""
                    required
                  />
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label class="label-login-popup">Conferma Password</label>
                </div>
                <div id="error-control" style="color: red; display:none;">
                  <h3>Le password non corrispondono.</h3>
                </div>
                <div id="error1" style="color: red; display:none;">
                  <h3>La password è troppo corta o lunga.</h3>
                </div>
                <input
                  type="submit"
                  class="submit-btn-login button button1"
                  onclick="RegisterSubmit()"
                  value="REGISTER"
                />
              </div>
            </div>
          </div>
        </div>

        <!--*********************************FINE REGISTER POPUP*******************************-->

        <br /><br /><br />
      </div>

      <!-- *************************************WIDGETS*************************************** -->
      <div class="widgets" id="widgets">
        <div class="wrapper">
          <div class="create-post">
            {% if session['darkMode'] == True %}
            <img
              src="{{ url_for('static', filename='img/minimalist-create2.jpg') }}"
              alt="minimalist-create2"
              height="36"
              width="290"
            />
            {% else %}
            <img
              src="{{ url_for('static', filename='img/minimalist-create.jpg') }}"
              alt="minimalist-create"
              height="36"
              width="290"
            />
            {% endif %}
            <h2>Home</h2>
            <!-- HO MODIFICATO QUI PER DISTINGUERE LA SESSIONE -->
            {% if 'nome' in session %}
            <p>Benvenuto.<br />Premi qui per creare nuovi post</p>
            <a href="/add"><button class="button button1">Crea Post</button></a>
            {% else %}
            <p>Benvenuto.<br />Premi qui per loggarti e creare nuovi post</p>
            <button
              class="button button1"
              onclick="document.getElementById('LoginBtn').click();"
            >
              Log-in
            </button>
            {% endif %}
          </div>
          <div class="channels"></div>
          <div class="copyright">
            <table class="copyright-table">
              <tr>
                <td>About</td>
                {% if 'nome' in session %}
                <td><a href="/logout">Logout</a></td>
                {% else %}
                <td>
                  <a onclick="document.getElementById('LoginBtn').click();"
                    >Login</a
                  >
                </td>
                {% endif %}
                <td>Blog</td>
              </tr>
              <tr>
                <td>Chi Siamo</td>
                <td><a href="/help">Help</a></td>
                <td>Home</td>
              </tr>
            </table>

            <br />
            <h4>Content Policy| Privacy Policy</h4>
            <h4>User Agreement| Mod Policy</h4>
            <h4>© 2018 CriticalException, Inc. All rights reserved</h4>
          </div>
        </div>
      </div>
      <script>
        var x = window.location.href;
        if (x.includes("channel") || x.includes("/articoli/")) {
          removeElement("widgets");
        }
        function removeElement(id) {
          var elem = document.getElementById(id);
          return elem.parentNode.removeChild(elem);
        }
      </script>
      {% block personalwidgets %}{% endblock %}

      <!--****************************************FOOTER***********************************-->
    </div>
    <footer>
      <div id="social">
        <a href="#"><span class="fab fa-facebook"></span></a>
        <a href="#"><span class="fab fa-twitter"></span></a>
        <a href="#"><span class="fab fa-soundcloud"></span></a>
        <a href="#"><span class="fab fa-instagram"></span></a>
        <a href="#"><span class="fab fa-youtube"></span></a>
        <a href="#"><span class="fab fa-snapchat"></span></a>
      </div>
    </footer>

    <!--****************************************LOGIN/REGISTER POPUP SCRIPT******************************-->

    {% if 'nome' in session %}
    <script>
      console.log("Ciao {{session['nome']}}!");
    </script>
    {% else %}
    <script>
      // ***********************************LOGIN POPUP************************************
      // Get the modal
      var modallogin = document.getElementById("login-popup");
      // Get the button that opens the modal
      var btnlogin = document.getElementById("LoginBtn");
      // Get the <span> element that closes the modal
      var spanlogin = document.getElementsByClassName("close")[0];
      // When the user clicks the button, open the modal
      btnlogin.onclick = function() {
        modallogin.style.display = "block";
      };
      // When the user clicks on <span> (x), close the modal
      spanlogin.onclick = function() {
        modallogin.style.display = "none";
      };
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modallogin) {
          modallogin.style.display = "none";
        }
      };
      /*
		function pswclicked(){
			document.getElementsByClassName("txtPsw")[0].style.border = none;
		}*/

      function LoginSubmit() {
        var name = document.getElementById("txtNameLog").value;
        var psw = document.getElementById("txtPswLog").value;
        if (psw.length > 6 && psw.length < 30) {
          var msg = name + "///" + psw;
          post("/login", { name: msg });
        } else {
          document.getElementById("txtPsw").classList.add("error-input-border");
          document.getElementById("error").style.display = "block";
        }
      }

      // ***********************************REGISTER POPUP************************************

      // Get the modal
      var modalregister = document.getElementById("register-popup");
      // Get the button that opens the modal
      var btnregister = document.getElementById("RegisterBtn");
      // Get the <span> element that closes the modal
      var spanregister = document.getElementsByClassName("close")[1];
      // When the user clicks the button, open the modal
      btnregister.onclick = function() {
        modalregister.style.display = "block";
      };
      // When the user clicks on <span> (x), close the modal
      spanregister.onclick = function() {
        modalregister.style.display = "none";
      };
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modalregister) {
          modalregister.style.display = "none";
        }
      };
      /*
		function pswclicked(){
			document.getElementsByClassName("txtPsw")[1].style.border = none;
		}*/

      function RegisterSubmit() {
        var name = document.getElementById("txtNameReg").value;
        var email = document.getElementById("txtEmailReg").value;
        var psw = document.getElementById("txtPswReg").value;
        var pswcontrol = document.getElementById("txtPswControlReg").value;
        if (psw === pswcontrol) {
          if (psw.length > 6 && psw.length < 30) {
            var msg = name + "///" + psw + "///" + email;
            post("/register", { name: msg });
          } else {
            document
              .getElementById("txtPswReg")
              .classList.add("error-input-border");
            document.getElementById("error1").style.display = "block";
          }
        } else {
          document.getElementById("txtPsw").classList.add("error-input-border");
          document
            .getElementById("txtPswControlReg")
            .classList.add("error-input-border");
          document.getElementById("error-control").style.display = "block";
        }
      }
    </script>
    {% endif %}

    <!--******************************POST REQUEST SCRIPT ******************************** -->

    <script>
      function post(path, params, method) {
        method = method || "post";
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);
        for (var key in params) {
          if (params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);
            form.appendChild(hiddenField);
          }
        }
        document.body.appendChild(form);
        form.submit();
      }
    </script>

    <!--*********************************ON RESIZE SCRIPT************************************-->

    <script>
      if ($(window).width() > 800) {
        var x = window.location.href;
        if (x.includes("channel") && $(window).width() >= 600) {
          var tdfil = document.getElementById("td-filigrana");
          if (tdfil) {
            tdfil.setAttribute("style", "min-width: 200px; display: block;");
          }
        }
        document
          .getElementsByClassName("grid-container")[0]
          .setAttribute("style", "grid: 100% / auto 360px;");
        if (!x.includes("Tools")) {
          document
            .getElementById("widgets")
            .setAttribute("style", "display: block;");
        }
      } else {
        var x = window.location.href;
        if (x.includes("channel") && $(window).width() < 600) {
          document
            .getElementById("td-filigrana")
            .setAttribute("style", "display: none;");
        }
        document
          .getElementsByClassName("grid-container")[0]
          .setAttribute("style", "grid: 100% / auto 20px;");
        if (!x.includes("Tools")) {
          document
            .getElementById("widgets")
            .setAttribute("style", "display: none;");
        }
      }

      window.onresize = function(event) {
        if ($(window).width() > 800) {
          var x = window.location.href;
          if (x.includes("channel") && $(window).width() >= 600) {
            var tdfil = document.getElementById("td-filigrana");
            if (tdfil) {
              document
                .getElementById("td-filigrana")
                .setAttribute("style", "min-width: 200px; display: block;");
            }
          }
          document
            .getElementsByClassName("grid-container")[0]
            .setAttribute("style", "grid: 100% / auto 360px;");
          if (!x.includes("Tools")) {
            document
              .getElementById("widgets")
              .setAttribute("style", "display: block;");
          }
        } else {
          var x = window.location.href;
          if (x.includes("channel") && $(window).width() < 600) {
            document
              .getElementById("td-filigrana")
              .setAttribute("style", "display: none;");
          }
          document
            .getElementsByClassName("grid-container")[0]
            .setAttribute("style", "grid: 100% / auto 20px;");
          if (!x.includes("Tools")) {
            document
              .getElementById("widgets")
              .setAttribute("style", "display: none;");
          }
        }
      };
    </script>
  </body>
</html>
