{% extends 'layout.html' %}

{% block classpost %}
<!-- <div class="posts-home"> -->
{% endblock %}

{% block modulo %}
<title>Risultati Ricerca</title>


<div class="wrapper-search">
<div class="results-search">
<div class="posts-home">
<div class="channel-search">
    {% if canali|length == 0 %}
    <p>NESSUN RISULTATO TRA I CANALI</p>
    {% else %}
    <table class="channel-table-search">
    <h5 style="font-weight: bold; color: #A8ABAC; margin-left: 20px; padding-top: 20px;">CANALI E COMMUNITY</h5>
    <hr style="margin-left: 20px;">
    {% for canale in canali %}
    <tr>
        <td onclick="window.location='/channel/{{canale.id}}'" style="width: 5vw;"><img src="{{canale.stile.img_profilo}}"></td>
        <td onclick="window.location='/channel/{{canale.id}}'" style="width: 20vw;"><h3>{{canale.nome}}</h3><h5>{{canale.likes}} Likes</h5></td>
        <td onclick="window.location='/channel/{{canale.id}}'" style="width: 70vw;"><p>{{canale.descrizione}}</p></td>
        {% if canale in globalRute['canali'] %}
          <td  style="width: 5vw;"><button class="button button1" id="suborunsub{{ canale.id }}" onclick="addSub_{{canale.id}}()" style="width: 98% !important;">Unsubscribe</button>
        {% else %}
          <td  style="width: 5vw;"><button class="button button1" id="suborunsub{{ canale.id }}" onclick="addSub_{{canale.id}}()" style="width: 98% !important;">Subscribe</button>
        {% endif %}
        <script>
        function addSub_{{canale.id}}() {
          $.ajax({
                  data: {
                    name: '{{ canale.id }}'
                  },
                  type: 'POST',
                  url: '/followCanali'
                })
                .done(function(data){
                  document.getElementById('suborunsub{{ canale.id }}').innerHTML = data.btn_val;
                  if (data.btn_val == 'Subscribe') { $('#id_navdown_{{ canale.id }}').attr('style', 'display: none;'); }
                  else { $('#id_navdown_{{ canale.id }}').attr('style', 'display: inline-block;'); }
                  });
                event.preventDefault();
        }
        </script>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
</div>
</div>

<div class="posts-home">
<div class="articles-search">
{% if articles|length == 0 %}
<p>NESSUN RISULTATO TRA GLI ARTICOLI</p>
{% else %}
<table class="posts-table-home">
{% for article in articles %}
<tr>
  <td style="width: 3vw; text-align: center;">
	<form>
      <i id="arrow-up-{{ article.id }}" value="like" onclick="like{{ article.id }}()" class="fad fa-arrow-alt-square-up fa-2x"></i>
	</form>
	<p id="likes-{{ article.id }}" style="margin-top: 0; margin-bottom: 0;">{{ article.likes }}</p>
	<form>
      <i id="arrow-down-{{ article.id }}" value="dislike" onclick="dislike{{ article.id }}()" class="fad fa-arrow-alt-square-down fa-2x"></i>
	</form>
	<!-- </div> -->
  </td>
  <script>
      var kkk = false;
      var kkkk = false;
      function like{{ article.id }}() {
        $.ajax({
          data: {
            id_articolo: '{{ article.id }}',
            type: '+',
            user_id: '{{ session["user_id"] }}'
          },
          type: 'POST',
          url: '/articoli'
        })
        .done(function(data){ if (data.output == 'good') document.getElementById('likes-{{ article.id }}').innerHTML = data.newVal; });
        event.preventDefault();
        document.getElementById("arrow-up-{{article.id}}").classList.toggle("arrow-up-clicked")
        if (document.getElementById("arrow-up-{{article.id}}").classList.contains("arrow-up-clicked") && document.getElementById("arrow-down-{{article.id}}").classList.contains("arrow-down-clicked"))
          document.getElementById("arrow-down-{{article.id}}").classList.remove("arrow-down-clicked")
      }
      function dislike{{ article.id }}() {
        $.ajax({
          data: {
            id_articolo: '{{ article.id }}',
            type: '-',
            user_id: '{{ session["user_id"] }}'
          },
          type: 'POST',
          url: '/articoli'
        })
        .done(function(data){ if (data.output == 'good') document.getElementById('likes-{{ article.id }}').innerHTML = data.newVal; });
        event.preventDefault();
        document.getElementById("arrow-down-{{article.id}}").classList.toggle("arrow-down-clicked")
        if (document.getElementById("arrow-down-{{article.id}}").classList.contains("arrow-down-clicked") && document.getElementById("arrow-up-{{article.id}}").classList.contains("arrow-up-clicked"))
          document.getElementById("arrow-up-{{article.id}}").classList.remove("arrow-up-clicked")
      }
    </script>
  <td onclick="window.location='/articoli/{{article.id}}'" style="width: 80vw;"><h2>{{article.titolo}}</h2>
  <h4>Caricato da {{article.autore.nome}} il {{article.data}}</h4></td>
  {% if session['permessi'] == 4%}
  <td onclick="window.location='/del/{{article.id}}'">Elimina</td>
  {% endif %}
</tr>
{% endfor %}
</table>
{% endif %}
</div>
</div>


</div>
<!--</div>-->

{% endblock %}
