{% extends 'layout.html' %}

{% block afternav %}
<style>
	.grid-container {
		margin-top: 0px;
	}
</style>
<div class="user-tab">
	<li class="tablinks notfirst" name="Posts" onclick="openTab(event, 'Posts')" id="defaultOpen">Posts</li>
	<li class="tablinks" name="Comments" onclick="openTab(event, 'Comments')" id=""><span>Comments</span></li>
	
	{% if session['user_id'] == utente.id %}
	<li class="tablinks" name="Tools" onclick="openTab(event, 'Tools')" id=""><span>Tools</span></li>
	{% endif %}
</div>

{% endblock %}

{% block classpost %}
<div class="user-page">
<div class="posts-home tabcontent" id="Posts">
{% endblock %}

{% block modulo %}
<title id="t1-up">Geekia | {{session["nome"]}}</title>
<style> 
#t1-up{
    text-transform: capitalize;
}
#t1-up::first-letter{
	text-transform: uppercase;
}

</style>

<table class="posts-table-home">
{% for article in articles %}
<tr>
	<td>
		<div class="border-bug-fixer">
			<div class="grid-single-post-container" style="grid-template-columns: auto 50px;">
				<div onclick="window.location='/articoli/{{article.id}}'" style="padding-top: 4px; padding-left: 10px;">
					<h2>{{article.titolo}}</h2>
  					<h4>Caricato da {{article.autore.nome}} il {{article.data}}</h4>
				</div>
				{% if 'nome' in session %}
				{% if session['darkMode'] == True %}
				<div onclick="window.location='/del/{{article.id}}'" style="color: #eee; font-size: 25px; align-self: center; "><i class="fas fa-trash-alt" aria-hidden="true"></i></div>
				{% else %}
				<div onclick="window.location='/del/{{article.id}}'" style="color: #222; font-size: 25px; align-self: center; "><i class="fas fa-trash-alt" aria-hidden="true"></i></div>
				{% endif %}
				{% endif %}
			</div>
		</div>
	</td>
</tr>
{% endfor %}
</table>
</div>

<div class="comments-user tabcontent" id="Comments">
	<table class="posts-table-home">
		{% for risposta in risposte %}
		<tr>
				<td>
					<div class="border-bug-fixer">
						<div class="grid-single-post-container" style="grid-template-columns: auto 100px 50px;">
							<div style="padding-top: 4px; padding-left: 10px;">
								<h2 onclick="location.pathname='{{ risposta.pagina }}'">{{risposta.testo|safe}}</h2>
								{% if risposta.commenti is defined and risposta.commenti|length > 0 %}
								<script>
									function viewcomm{{loop.index}}(){
										if ($('#arr{{ loop.index }}').hasClass('fa-arrow-down')){
											$('#ris{{ loop.index }}').attr("style", "display: block;");
											$('#arr{{ loop.index }}').removeClass("fa-arrow-down");
											$('#arr{{ loop.index }}').addClass("fa-arrow-up");
										}
										else {
											$('#ris{{ loop.index }}').attr("style", "display: none;");
											$('#arr{{ loop.index }}').removeClass("fa-arrow-up");
											$('#arr{{ loop.index }}').addClass("fa-arrow-down");
										}
									}
								</script>
								<div onclick="viewcomm{{loop.index}}()"><a class="submit-btn-login button button1 view-comments-btn" style="color: whitesmoke; letter-spacing: 0;"><i id="arr{{ loop.index }}" class="fad fa-arrow-down"></i> Comments</a></div>
								<div class="comments" id="ris{{ loop.index }}" style="display: none;" onclick="location.pathname='{{ risposta.pagina }}'">
									{% for commento in risposta.commenti %}
									<hr>
									<div class="comment tab1">
										<h4>{{ commento.testo }} – <a href="/utente/{{ commento.autore.id }}">{{ commento.autore.nome }}</a> | {{ commento.data }}</h4>
									</div>
									{% endfor %}
									<hr>
								</div>
								{% endif %}
							</div>
							<div style="padding-top: 4px; padding-left: 10px;">
								<h4>Caricato il {{risposta.data}}</h4>
							</div>
							{% if 'nome' in session %}
							{% if session['darkMode'] == True %}
							<div onclick="window.location='/del/{{risposta.id}}'" style="color: #eee; font-size: 25px; align-self: center; "><i class="fas fa-trash-alt" aria-hidden="true"></i></div>
							{% else %}
							<div onclick="window.location='/del/{{risposta.id}}'" style="color: #222; font-size: 25px; align-self: center; "><i class="fas fa-trash-alt" aria-hidden="true"></i></div>
							{% endif %}
							{% endif %}
						</div>
					</div>
				</td>
			</tr>
		{% endfor %}
		{% for commento in commenti %}
		<tr>
			<td>
				<div class="border-bug-fixer">
					<div class="grid-single-post-container" style="grid-template-columns: auto 50px;">
						<div style="padding-top: 4px; padding-left: 10px;" onclick="location.pathname='{{ commento.pagina }}'">
							<h4>{{ commento.testo|safe }} – caricato il {{ commento.data }}</h4>
						</div>
						{% if 'nome' in session %}
						{% if session['darkMode'] == True %}
						<div onclick="window.location='/del/{{ commento.id }}'" style="color: #eee; font-size: 25px; align-self: center; "><i class="fas fa-trash-alt" aria-hidden="true"></i></div>
						{% else %}
						<div onclick="window.location='/del/{{ commento.id }}'" style="color: #222; font-size: 25px; align-self: center; "><i class="fas fa-trash-alt" aria-hidden="true"></i></div>
						{% endif %}
						{% endif %}
					</div>
				</div>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% if session['user_id'] == utente.id %}
<div class="posts tabcontent" id="Tools">
	<p><strong>DARKMODE</strong>
	{% if session['darkMode'] == True %}
	<div class='toggle toggle-on' id='switch'>
		<div class='toggle-text-off'>OFF</div>
		<div class='glow-comp'></div>
		<div class='toggle-button'></div>
		<div class='toggle-text-on'>ON</div>
	</div>
	{% else %}
	<div class='toggle' id='switch'>
		<div class='toggle-text-off'>OFF</div>
		<div class='glow-comp'></div>
		<div class='toggle-button'></div>
		<div class='toggle-text-on'>ON</div>
	</div>
	{% endif %}
	</p>
	
	<!--************************************************PROFILE IMAGE*****************************************************-->

	<hr>
	<div class="setting"></div>
	<div class="setting image_picker">
    	<h2>Image</h2>
    	<div class="settings_wrap">
			<form id="profile-pic-uploader-form" action="/uploader/img_profilo_utente" method="post" enctype = "multipart/form-data">
			<input type="text" name="user_id" style="width: 0; height: 0; display: none;" value="{{session['user_id']}}"/>
			<input id="reminp" type="text" name="rem" style="width: 0; height: 0; display: none;" value="Save"/>
			<label class="drop_target">
				{% if session['img_profilo'] is defined %}
				<div class="image_preview" style="background-image: url('{{session['img_profilo']}}');"></div>
				{% else %}
				<div class="image_preview"></div>
				{% endif %}
				<input id="inputFile" class="file-upload" type="file" name="file" accept="image/*"/>
			</label>
        	<div class="settings_actions vertical">
				<a data-action="choose_from_uploaded" onclick="$('.reminp').attr('value', 'Save'); document.getElementById('profile-pic-uploader-form').submit();">
					<i class="fad fa-image"></i>
					Invia
				</a>
				{% if session['img_profilo'] is defined %}
				<a class="enabled" data-action="remove_current_image" onclick="$('#reminp').attr('value', 'Remove');">
				{% else %}
				<a class="disabled" data-action="remove_current_image" onclick="$('#reminp').attr('value', 'Remove');">
				{% endif %}
					<i class="fa fa-ban"></i>
					Remove Current Image
				</a>
			</div>
		</form>
		</div>
	</div>
	<div class="setting"></div>
	<script>
		var $dropzone = $('.image_picker'),
    		$droptarget = $('.drop_target'),
    		$dropinput = $('#inputFile'),
    		$dropimg = $('.image_preview'),
    		$remover = $('[data-action="remove_current_image"]');

		$dropzone.on('dragover', function() {
			$droptarget.addClass('dropping');
			return false;
		});

		$dropzone.on('dragend dragleave', function() {
			$droptarget.removeClass('dropping');
			return false;
		});

		$dropzone.on('drop', function(e) {
			$droptarget.removeClass('dropping');
			$droptarget.addClass('dropped');
			$remover.removeClass('disabled');
			e.preventDefault();
			var file = e.originalEvent.dataTransfer.files[0],
			reader = new FileReader();

			reader.onload = function(event) {
				$dropimg.css('background-image', 'url(' + event.target.result + ')');
			};
			console.log(file);
			reader.readAsDataURL(file);
			return false;
		});

		$dropinput.change(function(e) {
			$droptarget.addClass('dropped');
			$remover.removeClass('disabled');
			$('.image_title input').val('');
			var file = $dropinput.get(0).files[0],
						reader = new FileReader();
  			reader.onload = function(event) {
				$dropimg.css('background-image', 'url(' + event.target.result + ')');
			}
			reader.readAsDataURL(file);
		});

		$remover.on('click', function() {
			$('#reminp').attr('value', 'Remove');
			$dropimg.css('background-image', '');
			$droptarget.removeClass('dropped');
			$remover.addClass('disabled');
			$('.image_title input').val('');
			document.getElementById('profile-pic-uploader-form').submit();
		});

		$('.image_title input').blur(function() {
			if ($(this).val() != '') {
				$droptarget.removeClass('dropped');
			}
		});
	</script>

	<!--************************************************FINE PROFILE IMAGE*****************************************************-->
	
</div>
{% endif %}

<script>
	switch (localStorage['currentTab']) {
		case "Tools":
			document.getElementsByName("Posts")[0].id = "";
			document.getElementsByName("Comments")[0].id = "";
			document.getElementsByName(localStorage['currentTab'])[0].id = "defaultOpen";
			break;
		case "Posts":
			document.getElementsByName("Tools")[0].id = "";
			document.getElementsByName("Comments")[0].id = "";
			document.getElementsByName(localStorage['currentTab'])[0].id = "defaultOpen";
			break;
		case "Comments":
			document.getElementsByName("Tools")[0].id = "";
			document.getElementsByName("Posts")[0].id = "";
			document.getElementsByName(localStorage['currentTab'])[0].id = "defaultOpen";
			break;
		default:
			document.getElementsByName("Tools")[0].id = "";
			document.getElementsByName("Comments")[0].id = "";
			document.getElementsByName("Posts")[0].id = "defaultOpen";
	}
	document.getElementById("defaultOpen").click();

	$('.toggle').click(function(e){
	{% if session['darkMode'] == True %}
		post('/utente', {name: '{{session["user_id"]}}///False///' + window.location.pathname});
	{% else %}
		post('/utente', {name: '{{session["user_id"]}}///True///' + window.location.pathname});
	{% endif %}
		e.preventDefault();
		$(this).toggleClass('toggle-on');
	});
	function openTab(evt, tabName) {
		localStorage['currentTab'] = tabName;
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}
		document.getElementById(tabName).style.display = "block";
		evt.currentTarget.className += " active";
	}
  </script>
{% endblock %}
