/***************************** Help ***********************************/

.primary-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.primary-grid ul {
  list-style-type: none;
}

.link-list--link {
  cursor: pointer;
  color: #0079d3 !important;
}
.view-more--link {
  cursor: pointer;
  color: #0079d3 !important;
}

.risposte-wrapper p {
  text-align: center;
}
.using-geekia {
  text-align: center;
}
.post-e-comments {
  text-align: center;
}
.rule-e-report {
  text-align: center;
}
.text-n p {
  padding: 0;
}
