body {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: #eee !important;
  overflow-x: hidden;
}

p {
  color: #555;
}

/***************************** ALERT BOX ***********************************/

.alert-box {
  padding: 20px;
  width: 100%;
  /*background-color: #f44336;*/
  color: white;
  display: grid;
  grid-template-columns: auto 1%;
}

.close-alert-box-btn {
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.close-alert-box-btn:hover {
  color: black;
}

/***************************** SELECT TAG (CON LABEL) ***********************************/

.dropdown-cat-insert {
  position: relative;
  background: white;
  display: block;
  margin: 1em;
  width: 20vw;
}
.dropdown-cat-insert .selected-cat-list {
  display: block;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.dropdown-cat-insert .selected-cat-list .material-icons-cat-list {
  position: absolute;
  right: 0.5rem;
}
.dropdown-cat-insert .selected-cat-list:hover {
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24) !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}
.dropdown-cat-insert .dropdown-cat-insert-list {
  position: absolute;
  top: 0;
  width: 100%;
  max-height: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: white;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24) !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.3s cubic-bezier(0.17, 0.67, 0, 1);
  -o-transition: all 0.3s cubic-bezier(0.17, 0.67, 0, 1);
  transition: all 0.3s cubic-bezier(0.17, 0.67, 0, 1);
  z-index: 1;
  font-size: 1.5em;
}
.dropdown-cat-insert .dropdown-cat-insert-list .item-cat-insert-list {
  padding: 1rem;
  display: block;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.dropdown-cat-insert .dropdown-cat-insert-list .item-cat-insert-list:hover,
.dropdown-cat-insert .dropdown-cat-insert-list .item-cat-insert-list.active {
  background: rgba(63, 81, 181, 0.1);
}
.dropdown-cat-insert .dropdown-cat-insert-list.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  max-height: 260px;
  overflow: auto;
}

.addArticlePage {
  width: 60%;
  padding: 1em;
}

/********************* TEXTAREA GENERICO E WIDGET PERSONALIZZATI ************************/

.form-group textarea {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid black;
  padding: 10px 0;
  min-height: 40px;
  outline: none;
  resize: none;
}

.form-group textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*********************************** NAVBAR ********************************************/

#main-nav-upper {
  position: relative;
  background: white;
  width: 100%;
  height: 60px;
  padding-top: 5px;
}
#main-nav-upper ul {
  list-style-type: none;
  margin-right: 2.5%;
}
#main-nav-upper ul li {
  padding: 10px;
  font-family: Roboto, "sans serif";
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
  letter-spacing: 1px;
}
#main-nav-upper ul li a {
  text-decoration: none;
  color: black;
}
#main-nav-upper ul li a:active {
  text-decoration: underline;
  color: darkred;
}
#main-nav-upper ul li a:hover {
  color: darkred;
}
.main-navlinks {
  float: left;
  padding: 15px;
  font-weight: bold;
}

.main-navlinks-right {
  float: right;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
}

.main-navlinks .main-nav-right-dropdown {
  position: relative;
  display: inline-block;
  z-index: 100;
  float: right;
}

.main-nav-right-dropbtn {
  border: none;
  cursor: pointer;
}

.main-nav-right-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  right: 0;
}

.main-nav-right-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.main-nav-right-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.main-nav-right-dropdown:hover .main-nav-right-dropdown-content {
  display: block;
}

#menu-icon {
  display: none;
  position: absolute;
  left: 90%;
  top: 25px;
}

/*NAVBAR SOTTO*/

.headerDivider {
  border-left: 1px solid #38546d;
  border-right: 1px solid #16222c;
  height: 30px;
  position: absolute;
  left: 133px;
  top: 0px;
}

#main-nav-down {
  position: absolute;
  background: white;
  width: 100%;
  height: 60px;
}
#main-nav-down ul {
  list-style-type: none;
  margin-right: 2.5%;
}
#main-nav-down ul li {
  padding: 10px;
  font-family: roboto, "sans serif";
  text-transform: uppercase;
  font-size: 14px;
  margin-top: -5px;
  letter-spacing: 1px;
}
#main-nav-down ul li a {
  text-decoration: none;
  color: black;
}
#main-nav-down ul li a:active {
  text-decoration: underline;
  color: darkred;
}
#main-nav-down ul li a:hover {
  color: darkred;
}

.main-navlinks .main-nav-down-dropdown {
  position: relative;
  display: inline-block;
  z-index: 100;
}

.main-nav-down-dropbtn {
  border: none;
  cursor: pointer;
}

.main-nav-down-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.main-nav-down-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.main-nav-down-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.main-nav-down-dropdown:hover .main-nav-down-dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

@media only screen and (max-width: 960px) {
  #menu-icon {
    display: block;
  }

  #main-nav-upper {
    width: 100%;
    height: 50px;
  }

  #main-nav-upper:hover {
    height: 300px;
  }

  #main-nav-upper ul {
    display: none;
    position: absolute;
    text-align: center;
    background: #fff;
    border: 5px solid #444;
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    border-radius: 4px 0 4px 4px;
  }

  #main-nav-upper li {
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  #main-nav-upper:hover ul {
    display: inline-block;
  }

  #main-nav-upper ul li:hover {
    background: lightgray;
  }

  /**/

  #main-nav-down {
    width: 100%;
    height: 60px;
  }

  #main-nav-down:hover {
    height: 200px;
  }

  #main-nav-down ul {
    display: none;
    position: absolute;
    text-align: center;
    background: #fff;
    border: 5px solid #444;
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    border-radius: 4px 0 4px 4px;
    z-index: 99;
  }

  #main-nav-down li {
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  #main-nav-down:hover ul {
    display: inline-block;
  }

  #main-nav-down ul li:hover {
    background: lightgray;
  }
}

/*********************************** SEARCH BOX *****************************************/

.header-search-bar {
  margin: 0 auto !important;
}

.main-navlinks input {
  text-align: left;
  border-radius: 6px;
  padding-left: 3rem;
  border: 1px solid rgb(160, 160, 160);
  padding: 9px 32px 9px 16px;
  width: 70vw;
  font-family: "roboto";
}

.main-navlinks input:focus {
  outline: none;
  border-color: #212121;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#search-box-span {
  cursor: pointer;
  position: relative;
  font-family: "fontawesome";
  top: 0;
  right: 3rem;
}

/************************************ TAB USER PAGE *************************************/

.user-tab {
  overflow: hidden;
  border: 1px solid #eee;
  background-color: #fff;
  font-weight: bold;
  margin-top: 60px;
}

.user-tab li {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  left: 40%;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
  font-family: roboto, "sans serif";
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: black;
  list-style: none;
}

.user-tab li span {
  position: relative;
  left: 10px;
}

.user-tab li:before {
  content: "卐 ";
  color: black;
}

.user-tab .notfirst:before {
  content: none;
}

.user-tab li:hover:before {
  color: black;
}

.user-tab li:hover {
  color: darkred;
}

.user-tab li.active {
  color: darkred;
}

.tabcontent {
  display: none;
  border-top: none;
}

/*********************************** PROFILE PIC ****************************************/

.setting {
  background: #fff;
  width: 300px;
}
.setting h2 {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 6px;
  line-height: 24px;
}
.setting a[data-action] {
  cursor: pointer;
  color: #555;
  font-size: 14px;
  line-height: 24px;
  transition: color 0.2s;
}
.setting a[data-action] i {
  width: 1.25em;
  text-align: center;
}
.setting a[data-action]:hover {
  color: #ff8800;
}
.setting a[data-action].disabled {
  opacity: 0.35;
  cursor: default;
}
.setting a[data-action].disabled:hover {
  color: #555;
}
.image_picker .settings_wrap {
  overflow: hidden;
  position: relative;
}
.image_picker .settings_wrap .drop_target,
.image_picker .settings_wrap .settings_actions {
  float: left;
}
.image_picker .settings_wrap .drop_target {
  margin-right: 18px;
}
.image_picker .settings_wrap .settings_actions {
  margin-top: 12px;
}
.settings_actions.vertical a {
  display: block;
}
.drop_target {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\f093";
  position: relative;
  cursor: pointer;
  background: #e6e6e6;
  border-top: 1px solid #cccccc;
  border-radius: 4px;
  width: 72px;
  height: 72px;
  padding: 4px 6px 6px;
  transition: all 0.2s;
}
.drop_target input[type="file"] {
  visibility: hidden;
}
.drop_target:before {
  font-family: FontAwesome;
  position: absolute;
  display: block;
  width: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.30000000000000004);
  transition: color 0.2s;
}
.drop_target:hover,
.drop_target.dropping {
  background: #ff8800;
  border-top-color: #cc6d00;
}
.drop_target:hover:before,
.drop_target.dropping:before {
  color: rgba(0, 0, 0, 0.6);
}
.drop_target .image_preview {
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: contain;
  position: relative;
  z-index: 2;
}
.image_details {
  width: 192px;
  padding: 4px;
  background: #e6e6e6;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 84px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}
.dropped ~ .image_details {
  opacity: 1;
  pointer-events: all;
}
.image_details:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-right-color: #e6e6e6;
  position: absolute;
  left: -12px;
  top: 10px;
}
.image_details .input_line {
  display: block;
  overflow: hidden;
  margin-bottom: 4px;
}
.image_details .input_line:last-of-type {
  margin-bottom: 0;
}
.image_details .input_line span,
.image_details .input_line input {
  float: left;
  line-height: 24px;
}
.image_details .input_line span {
  font-size: 12px;
  color: #666;
  width: 20%;
}
.image_details .input_line input[type="text"] {
  width: 100%;
  color: #444444;
  appearance: none;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #fff;
  height: 24px;
  line-height: 18px;
  padding: 3px 5px;
  font-size: 14px;
  transition: border 0.2s;
}
.image_details .input_line input[type="text"]:hover,
.image_details .input_line input[type="text"]:focus {
  outline: 0;
  border: 1px solid #ff8800;
}
.image_details .input_line input[type="text"]::-webkit-input-placeholder {
  font-size: 14px;
  color: #999;
}
.image_details a.confirm {
  position: absolute;
  right: -12px;
  top: 50%;
  margin-top: -12px;
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  background: #eee;
  line-height: 23px;
  text-align: center;
  font-size: 16px;
}

/************************************** CANALE TUTTO ************************************/

/************************************** LIKE TRANSPARENT ********************************/

.chn-like-bar {
  opacity: 0.6;
}

/************************************* HEADER CANALE ************************************/

.chn-head-pic {
  width: 100%;
  height: auto;
}
/*********************************** IMPOSTAZIONI CANALE ********************************/

.channel-tools-page {
  padding-left: 3vw;
  padding-top: 2vh;
}

/************************************ COLOR PICKER **************************************/

.cpick-preview {
  height: 20px;
  width: 100px;
  position: relative;
  cursor: pointer;
}

.hidemodule {
  height: 0px;
  display: block !important;
  padding: 0px !important;
  border: 0 !important;
  overflow: hidden;
}

.cpick-module {
  padding: 5px;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  background: #ebebeb;
  border-radius: 3px;
  width: 320px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-top: 6px solid #fff;
  z-index: 88;
}
.cpick-module:after {
  content: "";
  display: block;
  position: absolute;
  bottom: calc(100% + 4px);
  left: 0;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
}

.cpick {
  width: 250px;
  height: 250px;
  position: relative;
}

#color-canvas {
  border-radius: 50%;
  cursor: crosshair;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.darkness {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 50%;
  opacity: 0;
  background-color: black;
  pointer-events: none;
}

.cpick-indicator {
  height: 1px;
  width: 1px;
  position: absolute;
  left: 50%;
  top: 50;
  pointer-events: none;
}
.cpick-indicator:after {
  pointer-events: none;
  content: "";
  height: 11px;
  width: 11px;
  position: absolute;
  left: -8px;
  top: -8px;
  border-radius: 50%;
  border: 3px solid white;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.cpick-indicator:hover {
  cursor: pointer;
}

.cpick-brightness {
  border: 2px solid #eee;
  position: absolute;
  top: 5px;
  height: 250px;
  width: 20px;
  right: 37px;
  cursor: row-resize;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.cpick-brightness-indicator {
  pointer-events: none;
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
}
.cpick-brightness-indicator:after {
  content: "";
  display: block;
  width: 100%;
  background: #222;
  position: absolute;
  top: -4px;
  height: 6px;
}

.cpick-transparency {
  border: 2px solid #eee;
  position: absolute;
  top: 10px;
  height: 230px;
  width: 20px;
  right: 7px;
  cursor: row-resize;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.cpick-transparency-indicator {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
}
.cpick-transparency-indicator:after {
  content: "";
  display: block;
  width: 100%;
  background: #222;
  position: absolute;
  top: -4px;
  height: 6px;
}

.cpick-grayscale,
.cpick-presets {
  width: 100%;
  min-height: 50px;
  margin-top: 15px;
  position: relative;
}
.cpick-grayscale:after,
.cpick-presets:after {
  content: "";
  display: block;
  clear: both;
}

.cpick-square {
  position: relative;
  list-style-type: none;
  width: calc(16.666% - 5px);
  background: #333;
  float: left;
  margin-bottom: 10px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  margin-right: 5px;
}
.cpick-square:before {
  content: "";
  display: block;
  padding-top: 100%;
}

/************************************* INPUT FILIGRANA *************************************/

.chn-filigrana-upload {
  background-color: #fff;
  width: 400px;
  margin: 0 auto;
}

.chn-filigrana-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1fb264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824b;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.chn-filigrana-upload-btn:hover {
  background: #1aa059;
  color: #ffffff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.chn-filigrana-upload-btn:active {
  border: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.chn-filigrana-upload-content {
  display: none;
  text-align: center;
}

.chn-filigrana-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.chn-image-upload-wrap-filigrana {
  margin-top: 20px;
  border: 4px dashed #1fb264;
  position: relative;
}

.chn-image-dropping-filigrana,
.chn-image-upload-wrap-filigrana:hover {
  background-color: #1fb264;
  border: 4px dashed #ffffff;
}

.chn-image-title-wrap-filigrana {
  padding: 0 15px 15px 15px;
  color: #222;
}

.chn-drag-text-filigrana {
  text-align: center;
}

.chn-drag-text-filigrana h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824b;
  padding: 60px 0;
}

.chn-file-upload-image-filigrana {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.chn-remove-image-filigrana {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.chn-remove-image-filigrana:hover {
  background: #c13b2a;
  color: #ffffff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.chn-remove-image-filigrana:active {
  border: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/************************************* INPUT SFONDO *************************************/

.chn-sfondo-upload {
  background-color: #fff;
  width: 400px;
  margin: 0 auto;
}

.chn-sfondo-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1fb264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824b;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.chn-sfondo-upload-btn:hover {
  background: #1aa059;
  color: #ffffff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.chn-sfondo-upload-btn:active {
  border: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.chn-sfondo-upload-content {
  display: none;
  text-align: center;
}

.chn-sfondo-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.chn-image-upload-wrap-sfondo {
  margin-top: 20px;
  border: 4px dashed #1fb264;
  position: relative;
}

.chn-image-dropping-sfondo,
.chn-image-upload-wrap-sfondo:hover {
  background-color: #1fb264;
  border: 4px dashed #ffffff;
}

.chn-image-title-wrap-sfondo {
  padding: 0 15px 15px 15px;
  color: #222;
}

.chn-drag-text-sfondo {
  text-align: center;
}

.chn-drag-text-sfondo h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824b;
  padding: 60px 0;
}

.chn-file-upload-image-sfondo {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.chn-remove-image-sfondo {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.chn-remove-image-sfondo:hover {
  background: #c13b2a;
  color: #ffffff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.chn-remove-image-sfondo:active {
  border: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/******************************** TESTO E INTESTAZIONE **********************************/

h1 h2 h3 h4 h5 h6 p {
  font-family: roboto, "sans serif";
  color: #141414;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 25px !important;
}

h2 {
  font-size: 20px !important;
}

h3 {
  font-size: 15px !important;
}

h4 {
  font-size: 12px !important;
}

h5 {
  font-size: 10px !important;
}

h6 {
  font-size: 8px !important;
}

p {
  font-size: 14px !important;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  position: relative;
  margin-top: 60px;
  /*background-color: #eee;*/
}

.grid-container > div {
  text-align: left;
  vertical-align: text-top;
  margin-left: 20px;
  margin-top: 20px;
}

.posts {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  text-align: left;
  border-radius: 4px;
  padding-top: 40px;
  padding-left: 60px;
  background-color: #ffffff;
  font-weight: 500;
  height: 100%;
}

.posts p {
  padding-right: 50%;
}

.posts-table {
  width: 100%;
  text-align: left;
}

.comments-table {
  width: 60%;
  text-align: left;
  border: 0px;
}

.submit-comment {
  border: 0px;
  width: 50vw;
}

.comments-table td {
  border: 0px;
}

.comments-table td:hover {
  border: 0px;
}

.tab1 {
  padding-left: 28px;
}
.tab2 {
  padding-left: 56px;
}
.tab3 {
  padding-left: 112px;
}
.tab4 {
  padding-left: 224px;
}
.tab5 {
  padding-left: 448px;
}
.tab6 {
  padding-left: 896px;
}
.tab7 {
  padding-left: 1792px;
}
.tab8 {
  padding-left: 3584px;
}
.tab9 {
  padding-left: 7168px;
}
.tab10 {
  padding-left: 14336px;
}
.tab11 {
  padding-left: 28672px;
}
.tab12 {
  padding-left: 57344px;
}
.tab13 {
  padding-left: 114688px;
}
.tab14 {
  padding-left: 229376px;
}
.tab15 {
  padding-left: 458752px;
}
.tab16 {
  padding-left: 917504px;
}

hr {
  margin-right: 2.5%;
  margin-left: 2.5%;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

th {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

td {
  word-wrap: break-word;
}

.like-td {
  background-color: rgb(245, 245, 245);
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.posts-table-home tr {
  border: 1px solid rgb(200, 200, 200);
  z-index: 1;
}

.grid-single-post-container {
  display: grid;
  width: inherit;
  grid-template-columns: 40px auto 50px;
  /*grid: 100% / 3vw auto 7vw*/
}

.grid-chn-single-post-container {
  display: grid;
  width: inherit;
  grid-template-columns: 40px auto 300px;
  /*grid: 100% / 3vw auto 7vw*/
}

.border-bug-fixer {
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
  z-index: 1;
  border: 0;
  position: relative;
}

.border-bug-fixer:hover {
  border: 1px solid rgb(0, 0, 0);
  z-index: 2;
}
.post-table-central-text {
  padding-left: 10px;
  padding-top: 4px;
}
tr td {
  text-align: left;
  background-color: #ffffff;
}

.text {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  height: 100%;
}

/********************************** UPVOTE/DOWNVOTE ************************************/

.arrow-up {
  width: 0px;
  height: 0px;
  margin-bottom: 10px;
  margin-left: 11px;
  position: relative;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid black;
}

.arrow-down {
  width: 0px;
  height: 0px;
  margin-top: 10px;
  margin-left: 11px;
  position: relative;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
}

.arrow-up-clicked {
  color: orange;
}

.arrow-down-clicked {
  color: blue;
}

/*********************************** DARK MODE SWITCH **********************************/

#switch {
  width: 75px;
  height: 40px;
}

.toggle {
  position: relative;
  border: 2px solid #444249;
  border-radius: 20px;
  -webkit-transition: border-color 0.6s ease-out;
  -o-transition: border-color 0.6s ease-out;
  transition: border-color 0.6s ease-out;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.toggle.toggle-on {
  border-color: rgba(137, 194, 217, 0.4);
  -webkit-transition: all 0.5s 0.15s ease-out;
  -o-transition: all 0.5s 0.15s ease-out;
  transition: all 0.5s 0.15s ease-out;
}

.toggle-button {
  position: absolute;
  top: 4px;
  width: 28px;
  bottom: 4px;
  right: 39px;
  background-color: #444249;
  border-radius: 19px;
  cursor: pointer;
  -webkit-transition: all 0.3s 0.1s, width 0.1s, top 0.1s, bottom 0.1s;
  -o-transition: all 0.3s 0.1s, width 0.1s, top 0.1s, bottom 0.1s;
  transition: all 0.3s 0.1s, width 0.1s, top 0.1s, bottom 0.1s;
}

.toggle-on .toggle-button {
  top: 3px;
  width: 65px;
  bottom: 3px;
  right: 3px;
  border-radius: 23px;
  background-color: #89c2da;
  -webkit-box-shadow: 0 0 16px #4b7a8d;
  box-shadow: 0 0 16px #4b7a8d;
  -webkit-transition: all 0.2s 0.1s, right 0.1s;
  -o-transition: all 0.2s 0.1s, right 0.1s;
  transition: all 0.2s 0.1s, right 0.1s;
}

.toggle-text-on {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 36px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  color: rgba(0, 0, 0, 0);
}

.toggle-on .toggle-text-on {
  color: #3b6a7d;
  -webkit-transition: color 0.3s 0.15s;
  -o-transition: color 0.3s 0.15s;
  transition: color 0.3s 0.15s;
}

.toggle-text-off {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  line-height: 36px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  cursor: pointer;

  color: #444249;
}

.toggle-on .toggle-text-off {
  color: rgba(0, 0, 0, 0);
}

/* used for streak effect */
.glow-comp {
  position: absolute;
  opacity: 0;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 6px;
  background-color: rgba(75, 122, 141, 0.1);
  -webkit-box-shadow: 0 0 12px rgba(75, 122, 141, 0.2);
  box-shadow: 0 0 12px rgba(75, 122, 141, 0.2);
  -webkit-transition: opacity 4.5s 1s;
  -o-transition: opacity 4.5s 1s;
  transition: opacity 4.5s 1s;
}

.toggle-on .glow-comp {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

/************************************** TEXT EDITOR ************************************/

.note-editor {
  margin-bottom: 5rem !important;
}

/*********************************** CREAZIONE CATEGORIE *******************************/

.categoria-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.popup-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 700px;
  height: 464px;
  -webkit-font-smoothing: antialiased;
  border-radius: 4px 4px 4px 4px !important;
  -webkit-box-shadow: 6px 6px 6px #888888;
  box-shadow: 6px 6px 6px #888888;
}

.cont-in {
  margin-left: 30px;
  margin-top: 60px;
  font-weight: normal;
  font-family: "Roboto";
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.group {
  position: relative;
  margin-bottom: 45px;
}
.input-categoria-popup {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
.input-categoria-popup:focus {
  outline: none;
}

.label-categoria-popup {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input-categoria-popup:focus ~ label,
.input-categoria-popup:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

.input-categoria-popup:focus ~ .bar:before,
.input-categoria-popup:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input-categoria-popup:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.submit-btn-categoria {
  font-family: "Roboto";
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: #0079d3;
  border-color: #0079d3;
}

.submit-btn-categoria:hover {
  background-color: #3293db;
  border-color: #3293db;
}

.img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden !important;
}

/* The Close Button */
.close {
  color: #aaaaaa !important;
  float: right !important;
  font-size: 28px !important;
  font-weight: bold !important;
}

.close:hover,
.close:focus {
  color: #000 !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

.error-input-border {
  border: 1px solid red;
}

.categoria-popup-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
  grid-template-columns: 20% 80%;
  padding: 0px;
}

/*********************************** CHECKBOX CATEGORIA ********************************/

/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark-checkbox {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark-checkbox {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark-checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark-checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/************************************* SEARCH RESULTS **********************************/

.wrapper-search {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  padding: 20px;
  height: 80%;
}

.results-search {
  padding: 20px;
  text-align: center;
}

/********************************** CHANNEL SEARCH TABLE********************************/

.channel-table-search {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  margin-left: 20px;
  overflow: hidden !important;
  margin-right: 0px !important;
  width: auto !important;
  margin-top: 18px;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  font-weight: 500;
  height: 100%;
}

table.channel-table-search {
  border-color: #fff;
  /*border-color: rgb(237, 239, 241);*/
  width: 100%;
}

.channel-table-search td {
  border-color: #fff;
}

/**************************************** WIDGETS **************************************/

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 312px;
  flex: 0 0 312px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 358px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 312px;
  flex: 0 0 312px;
}

.wrapper > div {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
}

.create-post {
  width: 290px;
  height: auto;
  position: relative;
  border-radius: 4px;
  background-color: #ffffff;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px 8px 8px 8px;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.button1:hover {
  background-color: #4caf50;
  color: white;
}

.channels {
  width: 290px;
  /*height: 100%;*/
  margin-right: 0px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #ffffff;
}

.copyright {
  border-radius: 4px;
  text-align: center;
  width: 290px;
  margin-right: 0px;
  overflow: hidden;
  height: 100%;
  font-size: 12px;
  background-color: #ffffff;
  padding: 7px;
}

.copyright-table tr td a:hover {
  text-decoration: none;
}

.copyright-table,
tr,
th {
  text-align: center;
  border: 0px;
  width: inherit;
  -webkit-font-smoothing: antialiased;
}

.copyright-table td {
  border: 0px;
}

.copyright-table td:hover {
  border: 0px;
}

/********************************* WIDGET PERSONALI CANALE *****************************/

.chn-overview-widget {
  width: 290px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  background-color: #ffffff;
  text-align: left !important;
}

.chn-overview-widget p {
  padding: 10px;
}

/************************************** LOGIN POPUP ************************************/

.login-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.popup-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 700px;
  height: 464px;
  -webkit-font-smoothing: antialiased;
  border-radius: 4px 4px 4px 4px !important;
  -webkit-box-shadow: 6px 6px 6px #888888;
  box-shadow: 6px 6px 6px #888888;
}

.cont-in {
  margin-left: 30px;
  margin-top: 30px;
  font-weight: normal;
  font-family: "Roboto";
}

.grid-item img {
  height: inherit;
}

/************************ INPUT CSS *******************************/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.group {
  position: relative;
  margin-bottom: 45px;
}
.input-login-popup {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
.input-login-popup:focus {
  outline: none;
}

/* LABEL ======================================= */
.label-login-popup {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.input-login-popup:focus ~ label,
.input-login-popup:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
.input-login-popup:focus ~ .bar:before,
.input-login-popup:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.input-login-popup:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.submit-btn-login {
  font-family: "Roboto";
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: #0079d3;
  border-color: #0079d3;
}

.submit-btn-login:hover {
  background-color: #3293db;
  border-color: #3293db;
}

/*************************** FINE INPUT CSS ***********************/

.img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden !important;
}

/* The Close Button */
.close {
  color: #aaaaaa !important;
  float: right !important;
  font-size: 28px !important;
  font-weight: bold !important;
}

.close:hover,
.close:focus {
  color: #000 !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

.error-input-border {
  border: 1px solid red;
}

.login-popup-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
  grid-template-columns: 20% 80%;
  padding: 0px;
}

/*************************************** HOME POSTS ************************************/

.posts-home {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  font-weight: 500;
  height: 100%;
  width: inherit;
}

.posts-table-home {
  border-color: #fff;
  /*border-color: rgb(237, 239, 241);*/
  width: 100%;
}

.posts-table-home tr td {
  border-color: rgb(237, 239, 241);
}

.posts-table-home td:hover {
  border-color: #000;
}

/*************************************** POSTS PAGE ************************************/

.post-visualizer-grid {
  display: grid;
  grid-template-columns: 80% 20%;
  padding-left: 10vw;
  padding-right: 10vw;
  width: 100%;
}

.single-post-title h3 {
  padding-left: 10%;
  padding-right: 10%;
  font-weight: bolder;
}

.add-comment {
  border: 1px solid #dadada;
  border-radius: 4px;
  width: 100%;
}

.add-comment:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.vertical-divider-post {
  clear: both;
  position: relative;
}

.vertical-divider-post:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
}

.vertical-divider-post .post-visualizer-element:not(:first-child):after {
  background: #dddddd;
  bottom: 0;
  content: " ";
  margin-left: -10px;
  position: absolute;
  top: 0;
  width: 1px;
}

/************************************* COMMENTI USER ***********************************/

.comments-user {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  text-align: left;
  border-radius: 4px;
  background-color: #ffffff;
  font-weight: 500;
  height: 100%;
}

table.comments-table-user {
  border-color: #fff;
  /*border-color: rgb(237, 239, 241);*/
  width: 100%;
}

.comments-table-user td {
  border-color: rgb(237, 239, 241);
}

.comments-table-user td:hover {
  border-color: #000;
}

/***************************************** FOOTER **************************************/

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
* {
  outline-width: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
  margin-bottom: 0px;
}
body {
  background: #eee;
}

footer {
  width: 100%;
  height: 50px;
  position: fixed;
  text-align: center;
  bottom: 0px;
}

#social {
  margin-bottom: 10px;
  padding: 15px 0;
}

#social a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 42px;
  height: 42px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  bottom: 10px;
  position: relative;
}

#social a {
  color: #444;
}

#social:hover a {
  color: #aaa;
}

#social a:hover {
  color: #444;
}
