form {
	margin-top: 3vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#post-title {
	font-size: 1.5em;
	width: 60vw;
	height: 5vh;
	padding-right: 0.5vh;
	margin: 1vh 0 1vh 0;
	font-family: 'Roboto', sans-serif;
}

textarea {
	resize: none;
	min-height: 50vh;
	width: 60vw;
	margin-bottom: 1vh;
	padding: 1vh;
	font-size: 1.25em;
	line-height: 1.4;
	font-family: 'Roboto', sans-serif;
}

button {
	width: 61vw;
	height: 5vh;
	margin: 1vh 0 1vh 0;
	background-color: dodgerblue;
	border: none;
	color: white;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
}

button:hover {
	border: 1px solid dodgerblue;
	color: dodgerblue;
	background-color: white;
	cursor: pointer;
}

