body {
	align-items: center;
	margin-bottom: 15vh;
}

form {
	margin-top: 3vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#title {
	margin-bottom: 5vh;
	font-size: 3em;
	color: #345DA7;
	text-align: center !important;
}

textarea {
	resize: none;
	width: 70.5vw;
	height: 4vh;
	min-height: 40px;
	margin: 1vh 0 1vh 0;
	border: 1px solid #757575;
	border-radius: 5px;
	padding: 1vh;
	border: 1px solid #757575;
	color: #345DA7;
}

textarea:placeholder {
	color: #8e8e8e;
}

textarea:focus {
	border: 1px solid #345DA7;
	color: #345DA7;
}


#post-title {
	font-size: 1.5em;
	min-height: 5vh;
	height: 10vh;
	margin: 1vh 0 1vh 0;
	line-height: 1.4;
}

#post-body {
	font-size: 1.25em;
	min-height: 50vh;
	margin-bottom: 1vh;
	line-height: 1.4;
}
