main {
	display: flex;
	flex-direction: column;
}

body{
    align-items: center;
}

#header {
    font-size: 3em;
    color: #345DA7;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-self: center;
}

textarea{
    resize: none;
    width: 20vw;
    min-width: 200px;
    margin: 1vh 0 1vh 0;
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 1vh;
    color: #757575;
}

textarea::placeholder {
    color: #8e8e8e;
}

textarea:focus {
    border: 1px solid #345DA7;
    color: #345DA7;
}

.center {
	align-self: center;
}

.cbox {
	margin: 10px;
}

.option-label {
    font-size: 1.2em;
    margin-left: 0.4vw;
}

#btn {
    color: white;
    width: 20vw;
    min-width: 200px;
    height: 5vh;
    min-height: 50px;
}

#btn:hover {
    color: #345DA7;
}
