html, body {
	height: 100%;
	margin: 0;
}

main {
	height: min-content;
	flex-grow: 1;
	margin: 7vh 5vw 3vh 7vh;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #f9fcff;
	font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
	position: fixed;
	list-style-type: none;
	padding: 5px;
	width: 100%;
	margin-top: -6px;
	overflow: hidden;
	background-color: #0499cf;
	font-size: 1.2em;
}

.menu {
	position: fixed;
	top: 6px;	
	left: 0px;
}

/* Buttons in navbar */

.button {
	float: left;
	background-color: #0499cf;
	color: white;
	border: none;
}

.button a {
	display: block;
	padding: 1.3vh;
	color: white;
	text-align: center;
	text-decoration: none;
}

.button a:hover {
	background-color: #34bdeb;
	border-radius: 5px;
	font-weight: bold;
}

.rbutton {
	float: right;
}

/* Dropdown */

.dropdown {	
	float: left;
	overflow: hidden;
}

.dropdown .ddbutton {
	border: none;
	outline: none;
	color: white;
	padding: 1.5vh;
	background-color: #0499cf;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
}

.dropdown:hover .ddbutton {
	background-color: #34bdeb;
	font-weight: bold;
}

/* Dropdown content */

.dropdown-content {
	display: none;
	position: fixed;
	background-color: #f9f9f9;
	min-width: 15vh;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;	
	border-radius: 5px;
}

.dropdown-content a {
	float: none;
	font-size: 0.875em;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	border-radius: 5px;
}

.dropdown-content a:hover {
	background-color: #b0ddc8;
	border-radius: 5px;
	font-weight: bold;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* Footer */

.footer {
	position: static;
	bottom: 0;
	width: 100%;
	min-height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.15em;
	background-color: #e38d30;
}

/* Buttons in Footer */

.fbutton {
	float: left;
	background-color: #e38d30;
	color: white;
	border: none;
	padding: 1.5vh;
	cursor: pointer;
}

.fbutton a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}


.fbutton:hover {
	background-color: #e7c73f;
	border-radius: 5px;
	color: black;
	font-weight: bold;
}

/* Arrow up */

.fa-arrow-alt-circle-up {
	font-size: 1.5em;
	position: fixed;
	bottom: 0;
	right: 1%;
	padding: 1vh;
	color: black;
	background-color: #e38d30;
	border-radius: 5px;
}

.fa-arrow-alt-circle-up:hover {
	border-radius: 5px;
	background-color: #e7c73f;
	color: white;
	cursor: pointer;
}
