html {		
	background-color: #f9fcff;
	font-family: arial;
	padding-bottom: 20vh;
}

/* Navbar */

.navbar {
	position: fixed;
	list-style-type: none;
	padding: 0px;
	width: 100%;
	margin-top: -6px;
	overflow: hidden;
	background-color: #0499cf;
	border-radius: 0px 0px 8px 8px;
}

.menu {
	position: fixed;
	top: 0%;	
	left: 0px;
}

/* Buttons in navbar */

.button {
	float: left;
	background-color: #0499cf;
	color: white;
	border: none;
}

.button a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.button a:hover {
	background-color: #34bdeb;
	border-radius: 5px;
}

/* Dropdown */

.dropdown {	
	float: left;
	overflow: hidden;
}

.dropdown .ddbutton {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: #0499cf;
	border-radius: 5px;
}

.dropdown:hover .ddbutton {
	background-color: #34bdeb;
}

.dropdown-content {
	display: none;
	position: fixed;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 5px;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	border-radius: 5px;
}

.dropdown-content a:hover {
	background-color: #b0ddc8;
	border-radius: 5px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* Footer */

.footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #e38d30;
	width: 100%;
}

.ftext {
	color: white;
	font-weight: bold; 
}