main {
	margin-top: 6vh;
	display: flex;
	flex-direction: column;
}

body {
	align-items: center;
} 

#title {
	margin-bottom: 7vh;
	font-size: 3em;
	color: #345DA7;
	align-self: center;
}

form, .redirect {
	display: flex;
	flex-direction: column;
	align-self: center;
}

.fbtn, .redirect {
	width: 20vw;
	min-width: 200px;
}

.center {
	align-self: center;
}

.cbox {
	margin: 10px;
}
