body {
	align-items: center;
}

main {
	width: max-content;
	margin-top: 6vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#title {
	margin-bottom: 7vh;
	font-size: 3em;
	color: #345DA7;
	align-self: center;
}

form {
	display: flex;
	flex-direction: column;
	align-self: center;
}
