.post-container {
	max-width: 100%;
	background-color: gainsboro;
	border-radius: 8px;
	padding: 1vw;
	margin-top: 3vh;
	margin-left: -3vh;
	right: -2vh;
	text-align: justify;
}

.post-section {
	line-height: 1.4;
	font-size: 1.25em;
}

#post-title {
	color: red;
	font-family: 'Roboto', sans-serif;
}

#post-body {
	margin-top: 1.5vh;
	font-family: 'Roboto', sans-serif;
}
