.post-container {
	max-width: 100%;
	/* background-color: #dae7e8; */
	background-color: #ddeced;
	border-radius: 8px;
	padding: 1vw;
	margin-top: 3vh;
	margin-left: -3vh;
	right: -2vh;
	text-align: justify;
}

.post-section {
	line-height: 1.4;
}

#post-title {
	/* color: #1100ff; */
	color: #0499cf;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}

#post-body {
	margin-top: 1.5vh;
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
}

#post-author {
	margin-top: 0.5vh;
	font-size: 1em;
	color: #fc6000;
}
