main {
	display: flex;
	flex-direction: column;
}

body {
	align-items: center;
}

#header {
    font-size: 3em;
    color: #345DA7;
    text-align: center;
}

#settings{
    display: flex;
	flex-direction: column;
	align-self: center;
}

.section-title {
    font-size: 1.7em;
    color: #345DA7;
    margin: 1vh 0 1vh 0;
}

.section-content {
    margin-bottom: 4vh;
}

.push-btn{
    width: 20vw;
	min-width: 200px;
}

#btn {
    color: white;
    height: 5vh;
    min-height: 50px;
}

#btn:hover {
    color: #345DA7;
}

#danger-days {
    color: #f91307;
}

.del {
    background-color: #f91307;
    color: white;
}

.del:hover {
    border: 1px solid #f91307;
    color: #f91307;
    background-color: white;
}
