#header {
	font-size: 3em;
	color: #345DA7;
	text-align: center;
	margin-top: -1.5vh;
}

.section-title {
	font-size: 1.8em;
	color: #345DA7;
	margin: 1vh 0 1vh 0;
}

.section-content {
	margin-bottom: 4vh;
}

.flex {
	display: flex;
}

.option-label {
	font-size: 1.2em;
	margin-left: .4vw;
}

input:not([type=checkbox]) {
	width: 20vw;
	min-width: 200px;
	height: 4vh;
	min-height: 40px;
	margin: 1vh 0 1vh 0;
	border: 1px solid #757575;
	border-radius: 5px;
	padding-left: 0.5vw;
	color: #757575;
}

input:not([type=checkbox])::placeholder {
	color: #8e8e8e;
}

input:not([type=checkbox]):focus {
	border: 1px solid #345DA7;
	color: #345DA7;
}

#del-btn {
	height: 5vh;
	min-height: 50px;
	margin: 1vh 0 1vh 0;
	background-color: #ed1f04;
	border: none;
	border-radius: 4px;
	color: white;
	font-size: 1em;
}

#del-btn:hover {
	border: 1px solid #ed1f04;
	color: #ed1f04;
	background-color: white;
}