#user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4vh 20% 4vh 20%;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 6vh;
}

#propic {
    height: 24vh;
    width: auto;
    margin-right: 3vw;
    border-radius: 50%;
}

#infos {
    display: flex;
    flex-direction: column;
    min-width: 20vw;
}

#username {
    display: inline-flex;
    align-items: center;
}

#username-text {
    font-size: 2em;
    margin-right: 0.5vw;
}

.username-flag {
    height: min-content;
    border-radius: 3px;
    padding: 5px 8px 5px 8px;
    color: white;
}

#mod {
    background-color: #e38d30;
}

#admin {
    background-color: #0499cf;
}

#dev {
    background-color: #DF6E00;
}

#num-info {
    display: flex;
    margin-top: 1vh;
}

.num-el {
    margin-right: 2vw;
    font-size: 1.2em;
}

.num-val {
    font-weight: bold;
}

#name {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1.5vh;
}

#bio {
    font-size: 1.2em;
    margin-bottom: 1vh;
}

@media (orientation: portrait) {
    #user {
        flex-direction: column;
        margin: 4vh 10% 4vh 10%;
    }
}
