#user {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 4vh 20% 4vh 20%;
	border-bottom: 1px solid #bdbdbd;
	padding-bottom: 6vh;
}

@media (orientation: portrait) {
	#user {
		flex-direction: column;
		margin: 4vh 10% 4vh 10%;
	}
}

#propic {
	height: 23vh;
	width: auto;
	margin-right: 3vw;
	border-radius: 50%;
}

#infos {
	display: flex;
	flex-direction: column;
	min-width: 20vw;
}

#username {
	display: inline-flex;
	align-items: center;
}

#username-text {
	margin-right: 0.5vw;
	font-size: 1.8em;
	font-weight: bold;
}

.username-flag {
	height: min-content;
	border-radius: 3px;
	padding: 5px 8px 5px 8px;
	color: white;
}

#mod {
	background-color: #e38d30;
}

#admin {
	background-color: #0499cf;
}

#dev {
	background-color: #cc4100;
}

#name {
	font-size: 1.2em;
}

#bio {
	margin-bottom: 2vh;
	font-size: 0.9em;
}

.button {
	height: 7vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1vh;
	border-radius: 9px;
	font-size: 1.3em;
	background-color: #345DA7;
	color: white;
}

.button:hover {
	border: 1px solid #345DA7;
	background-color: white;
	color: #345DA7;
	cursor: pointer;
	text-decoration: none;
}

.button i {
	margin-right: 1vw;
}
