{% extends "layout.html" %}
{% block title %}Create Post{% endblock %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/create_post.css') }}">
{% endblock %}

{% block content %}
	<form method="GET" action="/http://0.0.0.0:8000/create_post" id="post">
		<input type="text" name="post_title" placeholder="Post Title (optional)" maxlenght="100" id="post-title">
		<textarea name="post_body" placeholder="Post text" required maxlength="3000" col="127" form="post"></textarea>
		<button>Post <i class="fas fa-arrow-up"></i></button>
	</form>
{% endblock %}