{% extends "layout.html" %}
{% block title %}Home{% endblock %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/home.css') }}">
{% endblock %}

{% block content %}
    <div class="post-container">
        <div class="post-section" id="post-title">Lorem ipsum dolor sit amet</div>
        <a class="post-section link" id="post-author" href="#">@ff</a>
        <div class="post-section" id="post-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    </div>
{% endblock %}
