<!DOCTYPE html>
<html>
	<head>
		<title>Kevin | {% block title %}{% endblock %}</title>

		<!--  STYLE  -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/layout.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		{% block css %}{% endblock %}

		<!--  META  -->
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
		<meta name="language" content="IT" />
		<meta name="author" content="Andreanelli Bartocetti Parri Mariotti" />
		<meta name="owner" content="Andreanelli Bartocetti Parri Mariotti" />
		<meta name="reply-to" content="" />
		<meta name="description" content="forum kevin" />
		<meta name="keywords" content="kevin forum contenuti" />
		<meta name="viewport" content="width=device-width">
		
		<!--  JS  --> 
		<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='js/up.js') }}"></script>
		{% block js %}{% endblock %}
	</head>

	<body>
		{% if (nav | default("there", false)) %}
			<nav class="menu">
				<ul class="navbar">
					<li class="button"><a href="..">Home</a></li>
					<div class="dropdown">
						<button class="ddbutton">Dropdown</button>
						<div class="dropdown-content">
							<a href="#">Link 1</a>
							<a href="#">Link 2</a>
							<a href="#">Link 3</a>
						</div>
					</div>
					<li class="button"><a href="#">Lorem</a></li>
					<li class="button"><a href="#">ipsum</a></li>
					<li class="button"><a href="#">dolor</a></li>				
					{% if not logged_in %}
						<li class="button rbutton"><a href="login" style="margin-right: 2vh">Login</a></li>
						<li class="button rbutton"><a href="register">Register</a></li>
					{% else %}
						<li class="button rbutton"><a href="#" style="margin-right: 2vh">Profile</a></li>
						<li class="button rbutton"><a href="#">Logout</a></li>
					{% endif %}
				</ul>
			</nav>	
		{% endif %}

		<main>{% block content %}{% endblock %}</main>

		<div id="popup-lightbox">
			<div id="cookie-popup">
				<div id="popup-content">
					<div id="popup-hey">Hey!</div>
					<div id="popup-text">This site uses cookies. If you agree with that, click "I Agree"</i>. If you don't, we are sorry but you can't use our site.</div>
					<div id="popup-buttons">
						<a href="https://google.com"><span class="popup-button">I <b>DON'T</b> agree</span></a>
						<span class="popup-button" onclick="close_cookie_popup();">I Agree</span>
					</div>
				</div>
			</div>
		</div>

		{% if (footer | default("there", false)) %}
			<nav class="footer">
				<span class="fbutton"><a href="..">Home</span></a>
				<span class="fbutton"><a href="#">Lorem</span></a>
				<span class="fbutton"><a href="#">ipsum</span></a>
				<span class="fbutton"><a href="#">dolor</span></a>
				<span class="fbutton"><a href="#">sit</span></a>
				<span class="fbutton"><a href="#">amet</span></a>
				<span><a href='#' title='Torna su'><i class="far fa-arrow-alt-circle-up"></i></a></span>
			</nav>
		{% endif %}
	</body>

	<script>
		function close_cookie_popup() {
			var popup = document.getElementById("popup-lightbox");
			popup.parentNode.removeChild(popup);
			localStorage.setItem("cookie-accepted", 1);
		}

		// Check if user has already accepted it
		if (localStorage.getItem("cookie-accepted") == 1) {
			close_cookie_popup();
		}
	</script>
</html>
