<!DOCTYPE html>
<html>
	<head>
		<title>Kevin | {% block title %}{% endblock %}</title>

		<!--  STYLE  -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/layout.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		{% block css %}{% endblock %}

		<!--  META  -->
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
		<meta name="language" content="IT" />
		<meta name="author" content="Andreanelli Bartocetti Parri Mariotti" />
		<meta name="owner" content="Andreanelli Bartocetti Parri Mariotti" />
		<meta name="reply-to" content="" />
		<meta name="description" content="forum kevin" />
		<meta name="keywords" content="kevin forum contenuti" />
		<meta name="viewport" content="width=device-width">
		
		<!--  JS  --> 
		<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
		{% block js %}{% endblock %}
	</head>

	<body>
		{% if nav %}
			<nav class="navbar">
				<span class="button"><a href="#">Home</a></span>
				<span class="button"><a href="#">News</a></span>
				<span class="button"><a href="#">Contact</a></span>
				<span class="button"><a href="#">About</a></span>
				<span class="button dropdown">
					<a>Dropdown</a>
					<div class="dropdown-content">
						<a href="#">Link 1</a>
						<a href="#">Link 2</a>
						<a href="#">Link 3</a>
					</div>
				</span>
			</nav>
		{% endif %}

		<main>{% block content %}{% endblock %}</main>

		{% if footer %}
			<nav class="footer">
				<span class="button"><a href="#">Home</a></span>
				<span class="button"><a href="#">News</a></span>
				<span class="button"><a href="#">Contact</a></span>
				<span class="button"><a href="#">About</a></span>
				<span class="button"><i class="far fa-arrow-alt-circle-up"></i></span>
			</nav>
		{% endif %}
	</body>
</html>
