{% extends "layout.html" %}
{% block title %}Post{% endblock %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/post.css') }}">
{% endblock %}

{% block content %}
	<div class="post-container">
		<div class="post-section" id="post-title">Lorem ipsum dolor	sit amet</div>
		<div class="post-section" id="post-author">
			Written by: @<a href="#" class="link">Caesar-7</a> &bull; Approved by: @<a href="#" class="link">Gianluparri03</a>
		</div>
		<div class="post-section" id="post-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
	</div>
{% endblock %}
