{% extends "layout.html" %}
{% block title %}Post{% endblock %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/post.css') }}">
{% endblock %}

{% block content %}
	<div class="post-container">
		<div class="post-section" id="post-title">Lorem ipsum dolor sit amet</div>
		<div class="post-section" id="post-author">Written by: Caesar-7 &bull; Approved by: Gianluparri03</div>
		<div class="post-section" id="post-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis dui purus, sed venenatis nulla iaculis quis. In hac habitasse platea dictumst. Cras aliquam nisl lectus, auctor malesuada libero sollicitudin eu. Duis ultricies erat ac velit semper dapibus. Etiam egestas leo quis odio gravida, ut tincidunt sem iaculis. Duis vestibulum blandit orci, id viverra nunc ornare vel. Quisque pretium ligula quis leo pharetra, id elementum diam porttitor.</div>
	</div>
{% endblock %}
