{% extends "layout.html" %}
{% block title %}Settings{% endblock %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/settings.css') }}" >
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='script/change_data.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div id="header">Settings</div>

    <div class="section-title">Preferences:</div>
    <div class="section-content flex">
        <input type="checkbox">
        <div class="option-label">email visibile al pubblico</div>
    </div>

    <div class="section-title">Change:</div>
    <div class="section-content">
        <button class="push-btn">Username</button><br>
        <button class="push-btn">Password</button><br>
        <button class="push-btn">E-mail</button><br>
        <button class="push-btn">Name & Surname</button>
    </div>

    <div class="section-title" id="danger-days">Danger Zone:</div>
    <div>
        <button class="push-btn del">Delete my Kevin account</button>
    </div>
{% endblock %}