{% extends "layout.html" %}
{% block title %}Settings{% endblock %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/settings.css') }}" >
{% endblock %}

{% block content %}
    <div id="header">Settings</div>

    <div class="section-title">Preferences:</div>
    <div class="section-content flex">
        <input type="checkbox">
        <div class="option-label">email visible to the public</div>
    </div>

    <div class="section-title">Edit user:</div>
    <div class="section-content">
        <button class="push-btn" onclick="window.location.href = '/user/settings/edit-profile'">Edit your profile</button>
    </div>

    <div class="section-title" id="danger-days">Danger Zone:</div>
    <div>
        <button class="push-btn del">Delete my Kevin account</button>
    </div>
{% endblock %}