{% extends "layout.html" %}
{% block title %}Your profile{% endblock %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/user.css') }}">
{% endblock %}

{% block content %}
	<div class="flex">
		<svg id="propic" height="200" width="200">
			<circle cx="100" cy="100" r="100" stroke="black" stroke-width=".5" />
		</svg>
		<div id="name">{{ user['name'] + '' + user['surname'] }}
		<div id="username">{{ '@' + user['username'] }}</div>
		<div id="user_email">{{ user['email'] }}</div>
	</div>
{% endblock %}