{% extends "layout.html" %}
{% block title %}{{ '@' + user['username'] }}{% endblock %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/user.css') }}">
{% endblock %}

{% block content %}
	<div class="flex">
		<svg id="propic" height="200" width="200">
			<circle cx="100" cy="100" r="100" stroke="black" stroke-width=".5" />
		</svg>
		<div class="flex2">
			<div id="name">{{ user['name'] + ' ' + user['surname'] }}</div>
			{% if user["perms"] == 1 %}
  				<span class="flag" id="mod">Moderator</span>
			{% elif user["perms"] == 2 %}
  				<span class="flag" id="admin">Admin</span>
			{% elif user["perms"] == 3 %}
  				<span class="flag" id="owner">Owner</span>
			{% endif %}
		</div>
		<div id="username">{{ '@' + user['username'] }}</div>
		<div id="user_email">{{ user['email'] }}</div>
	</div>
{% endblock %}