html {		
	background-color: #f9fcff;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 20vh;
	text-align: center;
}
	
#title {
	color: #016b91;
	font-size: 60px;
	font-weight: bold;
}

.flex {
	display: flex;
	justify-content: center;
 	align-items: center;
	min-height: 300px;
	align-self: center;
}

.form {
	background-color: #34bdeb;
	border-radius: 5px;	
}

.eflex {
	width: 60%;
	border-radius: 5px;
	margin: 20px;
	min-height: 30px;
}

.button {font-size: 17px;}

.button:hover {
	font-weight: bold;
	cursor: pointer;
}